.topImage {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  position: relative;
}

.allIn {
  justify-content: center;
  align-items: center;
  position: relative;
}

h2 {
  cursor: pointer;
}

.sliderBlock {
  align-items: center;
}

.first {
  width: 26vw;
  margin: auto;
  height: 25vh;
}

.second {
  width: 26vw;
  margin: auto;
  height: 31vh;
}

.swith:hover {
  opacity: 0.9;
  cursor: pointer;
  transform: scale(1.5);
  transition: .15s ease-in-out;
}

.greenAbs {
  z-index: 2;
  position: absolute;
  width: 26vw;
  margin: auto;
  height: 31vh;
  background: rgba(83, 215, 183, 0.74);
}

.greenAbs h2 {
  position: absolute;
  font-family: 'Raleway',sans-serif!important;
  font-weight: 700;
  font-size: 21px;
  color: #FFFFFF;
  text-align: center;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}

.greenAbs p {
  position: absolute;
  font-family: 'Roboto',sans-serif!important;
  font-weight: 300;
  line-height: 25px;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1230px) {
  .greenAbs p {
    top: 60% !important;
    margin-top: 15px;
  }
}

@media screen and (max-width: 965px) {
  .greenAbs p {
    top: 65% !important;
    margin-top: 15px;
  }
}

@media screen and (max-width: 1800px) {
  .greenAbs p {
    top: 60% !important;
    margin-top: 15px;
  }
}
