*{
  margin: 0;
  padding: 0;
}
h2,h3{
  cursor: pointer;
}
button {
  background: #53D7B7;
  border: 1px solid #53D7B7;
  box-sizing: border-box;
  font-family: Raleway;
  font-weight: bold;
  line-height: 24px;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 3px 18px;
  cursor: pointer;
  margin: 7px 67px;
}
button:active{
  background: #2ebd9a;
}

.hundred{
  width: 100%;
  height: 300px;
  margin: 5px;
}

img{
  width: 100%;
  height: 80%;
}

.oneImg{
  width: 250px;
  height: 250px;
  margin: 20px;
}
