p{
  margin: 0;
  padding: 0;
}
.schedule-table {
    font-size: 11px;
    display: flex;
    flex-direction: row;
    width: 100%;
  -webkit-box-shadow: -5px 9px 58px -4px rgba(0,0,0,0.1);
  -moz-box-shadow: -5px 9px 58px -4px rgba(0,0,0,0.1);
  box-shadow: -5px 9px 58px -4px rgba(0,0,0,0.1);
}

.schedule-table-body div {
    /*margin-left: -1px;*/
  width: 101%;
  height: 44px;
  word-spacing: 17px;
}
.schedule-date{
  background-color: #fff;
}
.schedule-booked p {
   padding-top:5px;
 }


.schedule-table-left-head {
    width: 200px;
}

.schedule-table-left-head > div {
    /*margin-left: -1px;*/
  height: 44px;
}

.schedule-table-body {
    text-align: center;
    display: flex;
    flex-direction:row;
}

p{
  text-align: center;
  padding-top: 14px;
}
.left-date{
  height: 39.5%;

}
.left-status{
}
.left-status p{
  padding-top: 7px;
}
.left-rooms{
}
.left-active{
}
.p-wrapper1 p{
  /*line-height: 6*/
}
.p-wrapper4{
  /*margin-top: 4px;*/
}

.schedule-table-body{
  background-color: #ededed;
}
.schedule-status {
  height: 30px!important;
}
.schedule-date p {
  padding-top: 6px;
}
.schedule-status p{
  padding-top: 7px;
}

.day-in-schedule{
  height: 162px!important;
}
.left-status{
  height: 30px!important;

}
.schedule-for-sale .forSale-wrapper{
  height: 25px;
  width: 85%;
  background-color: white;
  margin: auto;
  margin-top: 9px;
  cursor: pointer;
}
.forSale-wrapper p {
  padding-top: 4px;
}
/*.schedule-table-body{*/
  /*background-color: whitesmoke !important;*/
/*}*/
.day-in-schedule:nth-child(7n),.day-in-schedule:nth-child(7n-1){
  background-color: #84d7c2;
}

.point{
  background-size: contain;
  background-repeat:no-repeat;
  background-position:0 4px;
}

.bg-01 {
  background-image: url("../../../../../assets/png/01.png");
}
.bg-02 {
  background-image: url("../../../../../assets/png/02.png");
}
.bg-03 {
  background-image: url("../../../../../assets/png/03.png");
}
.bg-04 {
  background-image: url("../../../../../assets/png/04.png");
}
.bg-11 {
  background-image: url("../../../../../assets/png/11.png");
}
.bg-12 {
  background-image: url("../../../../../assets/png/12.png");
}
.bg-13 {
  background-image: url("../../../../../assets/png/13.png");
}
.bg-14 {
  background-image: url("../../../../../assets/png/14.png");
}
