p{
  margin: 1px;
  padding: 0;
}
.schedule-table {
    font-size: 11px;
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid #c4c4c4;
}

.schedule-table-body div {
    margin-left: -1px;
    border: 1px solid white;
}

.schedule-table-left-head {
    width: 200px;
     border-right: 2px solid #c4c4c4;
}

.schedule-table-left-head > div {
    margin-left: -1px;
}

.schedule-table-body {
    text-align: center;
    display: flex;
    flex-direction:row;
}

p{
  text-align: center;
  line-height: 3.5;
}
.left-date{
  height: 39.5%;
  border-bottom: 1px solid #c4c4c4;

}
.left-status{
  border-bottom: 1px solid #c4c4c4;
}
.left-rooms{
  border-bottom: 1px solid #c4c4c4;
}
.left-active{
}
.p-wrapper1 p{
  line-height: 6
}
.p-wrapper4{
  margin-top: 4px;
}

.schedule-table-body{
  background-color: #e0e0e0;
}

/*.schedule-table-body{*/
  /*background-color: whitesmoke !important;*/
/*}*/
.day-in-schedule:nth-child(7n-1),.day-in-schedule:nth-child(7n-2){
  background-color: whitesmoke;
}

