<div class="room-type">
</div>
<br>

<div class="type-name">Номер {{roomType | roomTypePipe}}</div>
<div class="schedule-table">
  <div class="schedule-table-left-head">
    <div class="left-date">
      <div class="p-wrapper1">
        <p>Дата</p>
      </div>
    </div>
    <div class="left-status">
      <div class="p-wrapper2">
        <p>Статус номера</p>
      </div>
    </div>
    <div class="left-rooms">
      <div class="p-wrapper3">
        <p>Номери на продаж</p>
      </div>
    </div>
    <div class="left-active">
      <div class="p-wrapper4">
        <p>Активні бронювання</p>
      </div>
    </div>
  </div>
  <div class="schedule-table-body">
    <div *ngFor="let day of schedule; let i = index" class="day-in-schedule">
      <div class="schedule-date">
        <p>
          {{day.today | date: 'd E'}}
        </p>

      </div>
      <div class="schedule-status">
          <p>
            st
          </p>
      </div>
      <div class="schedule-for-sale">
        <p>
          {{day.forSale}}
        </p>

      </div>
      <div class="schedule-booked">
        <p>
          {{day.active}}
        </p>
      </div>
    </div>

  </div>
</div>

<!--<div class="newTable">-->
  <!--<div *ngFor="let day of schedule; let i = index" class="day-in-schedule">-->
    <!--<div class="day">-->
      <!--<p>-->
        <!--{{day.today}}-->
      <!--</p>-->
    <!--</div>-->
    <!--<div class="status">-->
      <!--<p>-->
        <!--Status-->
      <!--</p>-->
    <!--</div>-->
    <!--<div class="forSale">-->
      <!--<p>-->
          <!--{{day.forSale}}-->
      <!--</p>-->
    <!--</div>-->
    <!--<div class="active">-->
      <!--<p>-->
        <!--{{ day.active}}-->
      <!--</p>-->
    <!--</div>-->
  <!--</div>-->

<!--</div>-->
