.nav-item img{
  width: 30px;
  height: 30px;
  margin: auto;
}
li {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
a{
  display: flex;
  flex-direction: column;
}
.navbar{
  border-bottom: 3px groove whitesmoke;
}
.test-notification p{
  margin: 0;

}
.test-notification{
  display: flex;
}
.notification-wrapper{
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: relative;
  top: -60px;
  right: -4px;

}
.notification{
  color: white;
  text-align: center;
  font-size: 13px;
  height: 20px;
}
.notification-wrapper2{
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: relative;
  top: -60px;
  right: -22px;

}
.notification2{
  color: white;
  text-align: center;
  font-size: 13px;
  height: 20px;

}

.logo {
  width: 115px;
  cursor: pointer;
  outline: 0;
}
