<div class="container px-0">
  <div class="row">
    <div class="col-lg-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="toggleState()"
                data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" *ngIf="isIn"></span>
          <svg *ngIf="!isIn"  width="30" version="1.1" height="20" viewBox="0 0 64 64" enable-background="new 0 0 64 64">
            <g>
              <path fill="#1D1D1B" d="M28.941,31.786L0.613,60.114c-0.787,0.787-0.787,2.062,0,2.849c0.393,0.394,0.909,0.59,1.424,0.59   c0.516,0,1.031-0.196,1.424-0.59l28.541-28.541l28.541,28.541c0.394,0.394,0.909,0.59,1.424,0.59c0.515,0,1.031-0.196,1.424-0.59   c0.787-0.787,0.787-2.062,0-2.849L35.064,31.786L63.41,3.438c0.787-0.787,0.787-2.062,0-2.849c-0.787-0.786-2.062-0.786-2.848,0   L32.003,29.15L3.441,0.59c-0.787-0.786-2.061-0.786-2.848,0c-0.787,0.787-0.787,2.062,0,2.849L28.941,31.786z"/>
            </g>
          </svg>
        </button>
        <div class="navbar-collapse" id="navbarNav" [ngClass]="{ 'collapse': isIn }"
             >
          <div routerLink="/" class="logo">
            <img src="../../../assets/svg/logo.svg" alt="Hotel Palma">
          </div>
          <ul class="navbar-nav ml-auto" (click)="toggleState()">
            <li class="nav-item">
              <a class="nav-link" href="#" [routerLinkActive]="['active']"
                 routerLink="add">Додати</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" [routerLinkActive]="['active']"
                 routerLink="update">Змінити</a>
            </li>
          </ul>
        </div>
      </nav>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
