<div *ngIf="isNull(news)" class="content">
  <div class="header-text">
    <h2>{{(news.newsDescriptions['current-language-index'|translate]).title}}</h2>
  </div>
  <div class="main-text">
    <p>{{(news.newsDescriptions['current-language-index'|translate]).headerText}}</p>
  </div>
  <div class="image" [style.background-image]="'url(' + (news.picturePath|imagePipe) + ')'">
  </div>
  <div class="down-text">
    <div class="right-text-block">
      <div [innerHTML]="news.newsDescriptions['current-language-index'|translate].mainText"></div>

      <div class="date-and-share">
        <div class="date">
          <p>{{news.dateTime|datePipe}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
