
<div class="content">
  <div class="header-text">
    <h2>Весільний пакет</h2>
  </div>
  <div class="main-text">
    <p>All of this text is editable. Simply click anywhere in the paragraph or heading text and start typing. You can copy and paste your own content in to see what it looks like with these font combinations.All of this text is editable. Simply click anywhere in the paragraph or heading text and start typing. You can copy and paste your own content in to see what it looks like with these font combinations. All of this text is editable. Simply click anywhere in the paragraph or heading text and start typing. You can copy and paste your own content in to see what it looks like with these font combinations.</p>
  </div>
  <div class="image">
    <img src="../../../../assets/png/ladies.png" alt="">
  </div>
  <div class="down-text">
    <div class="left-text-block">
      <div class="first-paragraph">
        <div class="title-paragraph">
          <p>advantages</p>
        </div>
        <div class="text-paragraph">
          <p>Simply click anywhere in the paragraph or heading text and start typing. You can copy and paste your own content in to see what it looks like with these font combinations.</p>
        </div>
      </div>
      <div class="second-paragraph">
        <div class="title-paragraph">
          <p>lorem ipsum</p>
        </div>
        <div class="text-paragraph">
          <p>Simply click anywhere in the paragraph or heading text and start typing. You can copy and paste your own content in to see what it looks like with these font combinations</p>
        </div>
      </div>
      <div class="third-paragraph">
        <div class="title-paragraph">
          <p>Lorem ipsum</p>
        </div>
        <div class="text-paragraph">
          <p>Simply click anywhere in the paragraph or heading text and start typing. You can copy and paste your own content in to see what it looks like with these font combinations</p>
        </div>
      </div>
    </div>
    <div class="right-text-block">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cumque cupiditate dolor dolores error ex harum illum inventore natus nulla quam, quidem repellat reprehenderit rerum, sapiente vel voluptate? Blanditiis, doloribus?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus cupiditate deserunt dignissimos dolor eos eum explicabo molestias, nisi odit porro provident, quasi quos ratione sequi sint temporibus velit vitae voluptatibus.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad beatae cupiditate dicta dolor et exercitationem iusto odio quia quo, sapiente sit! Aut dicta illo nostrum ratione tenetur! Alias, in?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi blanditiis delectus deleniti dolores expedita iure quos repellat sed sint, ut vel veritatis! Adipisci assumenda blanditiis, fuga illum praesentium quae reiciendis.</p>
      <div class="date-and-share">
        <div class="date">
          <p>16.02.1999</p>
        </div>
        <div class="share">
          <img src="../../../../assets/svg/Vector.svg" alt="suka">
        </div>
      </div>
    </div>
  </div>
</div>
