*{
  font-family: 'Roboto',sans-serif;
}
.content{
  background-color: #f6f4f4;
}

.header-text h2{
  padding-top: 5vh;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.main-text{
  width: 69%;
  margin: auto;
  margin-top: 4vh;
  font-weight: 500;

}
