
<div *ngIf="isNull(news)"  class="content">
  <div class="header-text">
    <h2>{{news.newsDescriptions['current-language-index' |translate].title}}</h2>
  </div>
  <div class="main-text">
    <p>{{news.newsDescriptions['current-language-index' |translate].headerText}}</p>
  </div>
  <div class="image" [style.background-image]="'url(' + (news.picturePath|imagePipe) + ')'">
  </div>
  <div class="down-text">
    <div class="right-text-block">
     <p>{{news.newsDescriptions['current-language-index'|translate].mainText}}</p>
      <div class="date-and-share">
        <div class="date">
          <p>{{news.dateTime|datePipe}}</p>
        </div>
        <div class="share">
          <img src="../../../../assets/svg/Vector.svg" >
        </div>
      </div>
    </div>
  </div>
</div>
