<div class="sponsors d-flex flex-column">
  <div class="wrapper">
    <h3 class="text-center my-4">Спонсори</h3>
    <div class="sponsors_items mb-2 d-flex justify-content-between">
      <div><img src="../../../../assets/svg/Kapital.svg" alt="Kapital"></div>
      <div><img src="../../../../assets/svg/LAF.svg"  alt="LAF"></div>
      <div><img src="../../../../assets/svg/NasheTaxi.svg"  alt="NasheTaxi"></div>
      <div><img src="../../../../assets/svg/NOVAK.svg" alt="NOVAK"></div>
    </div>
  </div>
  
</div>
