<form action="" (submit)="addProposal(form)" #form [formGroup]="proposalForm">
  <div>
    <div class="text">
      <h3>Англійська</h3>
      <div class="row">
        <div class="col-lg-1">
          <h5>Назва послуги</h5>
        </div>
        <div class="col-lg-11">
        <textarea type="text"
                  formControlName="TitleEn"
                  class="w-100" style="height: 30px"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1">
          <h5>Заголовок</h5>
        </div>
        <div class="col-lg-11">
        <textarea
          formControlName="HeaderTextareaEn"
          class="w-100" style="height: 80px"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1">
          <h5>Опис</h5>
        </div>
        <div class="col-lg-11">
        <textarea
          formControlName="textEn"
          class="w-100" style="height: 150px"></textarea>
        </div>
      </div>

      <h3>Українська</h3>
      <div class="row">
        <div class="col-lg-1">
          <h5>Назва послуги</h5>
        </div>
        <div class="col-lg-11">
        <textarea
          formControlName="TitleUk"
          class="w-100" style="height: 30px"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1">
          <h5>Заголовок</h5>
        </div>
        <div class="col-lg-11">
        <textarea
          formControlName="HeaderTextareaUk"
          class="w-100" style="height: 80px"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1">
          <h5>Опис</h5>
        </div>
        <div class="col-lg-11">
        <textarea
          formControlName="textUk"
          class="w-100" style="height: 150px"></textarea>
        </div>
      </div>


      <h3>Польська</h3>
      <div class="row">
        <div class="col-lg-1">
          <h5>Назва послуги</h5>
        </div>
        <div class="col-lg-11">
        <textarea
          formControlName="TitlePl"
          class="w-100"
          style="height: 30px"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1">
          <h5>Заголовок</h5>
        </div>
        <div class="col-lg-11">
        <textarea
          formControlName="HeaderTextareaPl"
          class="w-100" style="height: 80px"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1">
          <h5>Опис</h5>
        </div>
        <div class="col-lg-11">
        <textarea
          formControlName="textPl"
          class="w-100" style="height: 150px"></textarea>
        </div>
      </div>


      <h3>Російська</h3>
      <div class="row">
        <div class="col-lg-1">
          <h5>Назва послуги</h5>
        </div>
        <div class="col-lg-11">
        <textarea
          formControlName="TitleRu"
          class="w-100"
          style="height: 30px"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1">
          <h5>Заголовок</h5>
        </div>
        <div class="col-lg-11">
        <textarea
          formControlName="HeaderTextareaRu"
          class="w-100" style="height: 80px"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1">
          <h5>Опис</h5>
        </div>
        <div class="col-lg-11">
        <textarea
          formControlName="textRu"
          class="w-100" style="height: 150px"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-11">
        <input type="checkbox"
          formControlName="available">
        </div>
        <div class="col-lg-1">
          <h5>Показувати</h5>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="image" class="image">
    <img [src]="image" alt="" class="w-100">
  </div>
  <br>
  <div class="row">
    <div class="button-block">
      <div class="col-lg-3"></div>
      <div class="col-lg-3">
        <input (change)="readUrl($event)" formControlName="multipartFile" accept="image/*" id="file2" type="file"
               class="d-none" name="multipartFile">
        <label for="file2" class="addImage">Додати картинку</label>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-3">
        <button class="button" [disabled]="proposalForm.invalid" type="submit">Зберегти послугу</button>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</form>


