textarea.ng-valid {
  border-left: 5px solid green;
}

textarea.ng-invalid {
  border-left: 5px solid red;
}

input.ng-valid {
  border-left: 5px solid green;
}

input.ng-invalid {
  border-left: 5px solid red;
}

textarea {
  resize: none;
}

button:disabled {
  border-bottom: 3px solid red;
}

h3 {
  text-align: center;
}

.row {
  flex-direction: column;
}

label {
  margin: auto;
  background: #53D7B7;
  border: 1px solid #53D7B7;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Raleway sans-serif;
  font-weight: bold;
  line-height: 35px;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  width: 100%;
  height: 36px;
  cursor: pointer;
  vertical-align: middle;
  margin-bottom: 2%;
}

button {
  height: 50px;
  width: 100%;
  margin: auto;
  background-color: #fff;
}

.button-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col-lg-11 {
  max-width: 100%;
}

.col-lg-3 {
  min-width: 31%;
}

.image img {
  max-width: 900px;
  min-width: 500px;
  margin: auto;
  display: flex;
}
