<app-main-slider></app-main-slider>


<div class="wrapper">

  <div class="search">
    <div class="searchItem searchItem11" (click)="d1.toggle()">
      <p>заїзд</p>
      <div class="numbers d-flex w-100">
        <div class="day">{{enterDay?.day || 18}}</div>
        <div class="month">{{month[enterDay?.month] || 'січень'}}</div>
        <div class="year">{{enterDay?.year || 2018}}</div>
      </div>
    </div>
    <div class="verticaleLine"></div>
    <div class="searchItem searchItem11" (click)="d2.toggle()">
      <p>виїзд</p>
      <div class="numbers d-flex w-100">
        <div class="day">{{leaveDay?.day || 18}}</div>
        <div class="month">{{month[leaveDay?.month] || 'січень'}}</div>
        <div class="year">{{leaveDay?.year || 2018}}</div>
      </div>
    </div>
    <div class="verticaleLine"></div>
    <div class="searchItem">
      <p>номери</p>
      <div class="d-flex">
        <div class="w-15 h-15 p-1" (click)="roomsNumberFunc(false)">
          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="13" viewBox="0 0 8 13" fill="none">
            <path
              d="M7.49779 0.263441C7.84188 0.614696 7.84188 1.17384 7.49779 1.52509L2.52288 6.5L7.49779 11.4749C7.84188 11.8262 7.84188 12.3853 7.49779 12.7366C7.14654 13.0878 6.5874 13.0878 6.23615 12.7366L-0.000412941 6.5L6.23615 0.263441C6.58023 -0.0878134 7.14654 -0.0878134 7.49779 0.263441Z"
              fill="#5A5A5A"/>
          </svg>
        </div>
        <div class="roomsNumber">{{roomsNumber|| 1}}</div>
        <div class="w-15 h-15 p-1" (click)="roomsNumberFunc(true)">
          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="13" viewBox="0 0 8 13" fill="none">
            <path
              d="M0.258065 12.7366C-0.0860215 12.3853 -0.0860215 11.8262 0.258065 11.4749L5.23298 6.5L0.258065 1.52509C-0.0860215 1.17384 -0.0860215 0.614695 0.258065 0.263441C0.609319 -0.0878136 1.16846 -0.0878136 1.51971 0.263441L7.75627 6.5L1.51971 12.7366C1.17563 13.0878 0.609319 13.0878 0.258065 12.7366Z"
              fill="#5A5A5A"/>
          </svg>
        </div>
      </div>
    </div>
    <div class="verticaleLine"></div>
    <div class="searchItem">
      <p>дорослі</p>
      <div class="d-flex">
        <div class="w-15 h-15 p-1" (click)="adultsNumberFunc(false)">
          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="13" viewBox="0 0 8 13" fill="none">
            <path
              d="M7.49779 0.263441C7.84188 0.614696 7.84188 1.17384 7.49779 1.52509L2.52288 6.5L7.49779 11.4749C7.84188 11.8262 7.84188 12.3853 7.49779 12.7366C7.14654 13.0878 6.5874 13.0878 6.23615 12.7366L-0.000412941 6.5L6.23615 0.263441C6.58023 -0.0878134 7.14654 -0.0878134 7.49779 0.263441Z"
              fill="#5A5A5A"/>
          </svg>
        </div>
        <div class="roomsNumber">{{adultsNumber|| 1}}</div>
        <div class="w-15 h-15 p-1" (click)="adultsNumberFunc(true)">
          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="13" viewBox="0 0 8 13" fill="none">
            <path
              d="M0.258065 12.7366C-0.0860215 12.3853 -0.0860215 11.8262 0.258065 11.4749L5.23298 6.5L0.258065 1.52509C-0.0860215 1.17384 -0.0860215 0.614695 0.258065 0.263441C0.609319 -0.0878136 1.16846 -0.0878136 1.51971 0.263441L7.75627 6.5L1.51971 12.7366C1.17563 13.0878 0.609319 13.0878 0.258065 12.7366Z"
              fill="#5A5A5A"/>
          </svg>
        </div>
      </div>
    </div>
    <div class="verticaleLine"></div>
    <div class="searchItem">
      <p>діти</p>
      <div class="d-flex">
        <div class="w-15 h-15 p-1" (click)="childrenNumberFunc(false)">
          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="13" viewBox="0 0 8 13" fill="none">
            <path
              d="M7.49779 0.263441C7.84188 0.614696 7.84188 1.17384 7.49779 1.52509L2.52288 6.5L7.49779 11.4749C7.84188 11.8262 7.84188 12.3853 7.49779 12.7366C7.14654 13.0878 6.5874 13.0878 6.23615 12.7366L-0.000412941 6.5L6.23615 0.263441C6.58023 -0.0878134 7.14654 -0.0878134 7.49779 0.263441Z"
              fill="#5A5A5A"/>
          </svg>
        </div>
        <div class="roomsNumber">{{childrenNumber|| 0}}</div>
        <div class="w-15 h-15 p-1" (click)="childrenNumberFunc(true)">
          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="13" viewBox="0 0 8 13" fill="none">
            <path
              d="M0.258065 12.7366C-0.0860215 12.3853 -0.0860215 11.8262 0.258065 11.4749L5.23298 6.5L0.258065 1.52509C-0.0860215 1.17384 -0.0860215 0.614695 0.258065 0.263441C0.609319 -0.0878136 1.16846 -0.0878136 1.51971 0.263441L7.75627 6.5L1.51971 12.7366C1.17563 13.0878 0.609319 13.0878 0.258065 12.7366Z"
              fill="#5A5A5A"/>
          </svg>
        </div>
      </div>
    </div>
    <div  [routerLink]="['/','rooms-booking']" class="searchIcone">
      <svg width="20" height="21" viewBox="0 0 20 21" fill="none">
        <path
          d="M19.827 18.9843L14.9656 14.1229C16.2697 12.6236 17.0592 10.6676 17.0592 8.52961C17.0592 3.82346 13.2313 0 8.52961 0C3.82346 0 0 3.8279 0 8.52961C0 13.2313 3.8279 17.0592 8.52961 17.0592C10.6676 17.0592 12.6236 16.2697 14.1229 14.9656L18.9843 19.827C19.0996 19.9423 19.2548 20.0044 19.4056 20.0044C19.5564 20.0044 19.7117 19.9468 19.827 19.827C20.0577 19.5964 20.0577 19.2149 19.827 18.9843ZM1.19317 8.52961C1.19317 4.48436 4.48436 1.1976 8.52517 1.1976C12.5704 1.1976 15.8572 4.4888 15.8572 8.52961C15.8572 12.5704 12.5704 15.866 8.52517 15.866C4.48436 15.866 1.19317 12.5749 1.19317 8.52961Z"
          fill="white"/>
      </svg>
    </div>
  </div>


  <div class="dataPicker1">
    <form class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" name="d1" #c2="ngModel" [(ngModel)]="model1"
                 (dateSelect)="chang1($event)"
                 ngbDatepicker #d1="ngbDatepicker">
          <div class="input-group-append">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="dataPicker2">
    <form class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" name="d2" #c2="ngModel" [(ngModel)]="model2"
                 (dateSelect)="chang2($event)"
                 ngbDatepicker #d2="ngbDatepicker">
          <div class="input-group-append">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>



<div class="bottomAll">
  <div class="btmWrapper">
    <div class="aboutHotel d-flex justify-content-between">
      <div class="photoMain d-flex">
        <img class="kartinkaMain" src="../../../assets/png/room4.png" alt="room ">
      </div>
      <div class="infosMain">
        <h4>про нас</h4>
        <h2 class="selected"><span>Lorem ipsum dolor sit amet</span></h2>
        <p>All of this text is editable. Simply click anywhere in the paragraph or heading text and start typing. You
          can copy and paste your own content in to see what it looks like with these font combinations.</p>
        <div class="someShit d-flex justify-content-end">
          <h5  [routerLink]="['/','contacts']">переглянути</h5>
          <img src="../../../assets/svg/strilkaMain.svg" alt="">
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center w-100">
      <div class="together">
        <h3>спеціальні пропозиції</h3>
        <h2>Lorem ipsum dolor sit amet</h2>
      </div>
    </div>
    <div class="firsty d-flex flex-row justify-content-between">
      <div class="item">
        <div class="back1"></div>
        <h3>Lorem ipsum dolor </h3>
        <h4>All of this text is editable. Simply click anywhere in the paragrap</h4>
        <div class="someShit2 d-flex justify-content-end">
          <h5>переглянути</h5>
          <div class="images">
            <img class="greyShit" src="../../../assets/svg/siraStrilka.svg" alt=""><img class="greenShit"
                                                                                        src="../../../assets/svg/zelenaStrilka.svg"
                                                                                        alt="">
          </div>
        </div>
      </div>
      <div class="item">
        <div class="back2"></div>
        <h3>Lorem ipsum dolor </h3>
        <h4>All of this text is editable. Simply click anywhere in the paragrap</h4>
        <div class="someShit2 d-flex justify-content-end">
          <h5>переглянути</h5>
          <div class="images">
            <img class="greyShit" src="../../../assets/svg/siraStrilka.svg" alt=""><img class="greenShit"
                                                                                        src="../../../assets/svg/zelenaStrilka.svg"
                                                                                        alt="">
          </div>
        </div>
      </div>
      <div class="item">
        <div class="back3"></div>
        <h3>Lorem ipsum dolor </h3>
        <h4>All of this text is editable. Simply click anywhere in the paragrap</h4>
        <div class="someShit2 d-flex justify-content-end">
          <h5>переглянути</h5>
          <div class="images">
            <img class="greyShit" src="../../../assets/svg/siraStrilka.svg" alt=""><img class="greenShit"
                                                                                        src="../../../assets/svg/zelenaStrilka.svg"
                                                                                        alt="">
          </div>
        </div>
      </div>
      <div class="item">
        <div class="back4"></div>
        <h3>Lorem ipsum dolor </h3>
        <h4>All of this text is editable. Simply click anywhere in the paragrap</h4>
        <div class="someShit2 d-flex justify-content-end">
          <h5>переглянути</h5>
          <div class="images">
            <img class="greyShit" src="../../../assets/svg/siraStrilka.svg" alt=""><img class="greenShit"
                                                                                        src="../../../assets/svg/zelenaStrilka.svg"
                                                                                        alt="">
          </div>
        </div>
      </div>
    </div>


    <div class="ashkas4 d-flex flex-column align-items-center">
      <div class="divka filks d-flex flex-row align-items-center"><h3>номери</h3>
        <div class="grnBlock"></div>
      </div>
      <h2>Lorem ipsum dolor sit amet</h2>
    </div>


    <div class="ashkas3 d-flex flex-column">
      <div class="divka d-flex flex-row align-items-center"><h3>послуги та пропозиції</h3>
        <div class="grnBlock"></div>
      </div>
      <h2>Lorem ipsum dolor sit amet</h2>
      <p>All of this text is editable. Simply click anywhere in the paragraph or heading text and start typing. You
        c.</p>
    </div>

    <!--<app-slider></app-slider>-->


    <div class="ashkas d-flex flex-column">
      <div class="divka d-flex flex-row align-items-center"><h3>НАШІ ПЕРЕВАГИ</h3>
        <div class="grnBlock"></div>
      </div>
      <h2>Lorem ipsum dolor sit amet</h2>
    </div>
    <div class="secondy d-flex flex-row justify-content-between">
      <div class="item2 d-flex align-items-center flex-column">
        <p>All of this text is editable. Simply click anywhere in the paragraph or heading text and start typing. </p>
        <div class="whiteBlock d-flex justify-content-center">
          <img src="../../../assets/svg/mainwireless-signal.svg" alt="">
        </div>
      </div>
      <div class="item2 d-flex align-items-center flex-column">
        <p>All of this text is editable. Simply click anywhere in the paragraph or heading text and start typing. </p>
        <div class="whiteBlock d-flex justify-content-center">
          <img src="../../../assets/svg/maindelivery.svg" alt="">
        </div>
      </div>
      <div class="item2 d-flex align-items-center flex-column">
        <p>All of this text is editable. Simply click anywhere in the paragraph or heading text and start typing. </p>
        <div class="whiteBlock d-flex justify-content-center">
          <img src="../../../assets/svg/mainparking-sign 2.svg" alt="">
        </div>
      </div>
    </div>
    <div class="underFooterBlock d-flex justify-content-between">
      <div class="ashkas2 d-flex flex-column">
        <div class="divka d-flex flex-row align-items-center"><h3>КОНТАКТИ</h3>
          <div class="grnBlock"></div>
        </div>
        <h2>Lorem ipsum dolor sit amet</h2>
        <div class="peshkas">
          <p>All of this text is editable. Simply click anywhere in the paragrap</p>
          <p>All of this text is editable. Simply click anywhere in the paragrap</p>
          <p>All of this text is editable. Simply click anywhere in the paragrap</p>
        </div>
      </div>
      <div class="map">
        <div class="map-wrapper">
          <agm-map [styles]="customStyle" [latitude]="latitude" [longitude]="longitude"
                   (mapClick)="onChoseLocation($event)" [zoom]="13" lang="">
            <agm-marker [iconUrl]="iconUrl" [latitude]="latitude" [longitude]="longitude">
            </agm-marker>
          </agm-map>
        </div>
      </div>
    </div>


  </div>

</div>
