/* data picker */
.wrapper{
  position: absolute;
  left:calc(50% - 491px);
  z-index: 1000!important;
  top: 576px;
}
.searchIcone{
  cursor: pointer;
}
.search {
  display: flex;
  width: 982px;
  height: 120px;
  background-color: white;  
}

.searchItem {
  width: 190px;
}

.verticaleLine {
  width: 1px;
  height: 90px;
  background-color: #C4C4C4;
  margin-top: 15px;
}

.searchIcone {
  height: 100%;
  background-color: #53D7B7;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
}

.searchItem > p {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 24px;
  color: black;
  margin-top: 19px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  margin-right: 10px;
  text-align: right;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.searchItem > div {
  justify-content: center;
  align-items: flex-end;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.searchItem > div > div {
  margin: 0px 2px 0px 2px;
}

.searchItem > div > .day {
  font-size: 34px;
  text-transform: uppercase;
  line-height: 34px;
  font-weight: bold;
  color: black;
}

.searchItem > div > .month {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 14px;
  font-weight: bold;
  color: black;
}

.searchItem > div > .year {
  font-size: 17px;
  text-transform: uppercase;
  line-height: 17px;
  font-weight: bold;
  color: #C4C4C4;
}

.searchItem > div > .roomsNumber {
  font-size: 34px;
  text-transform: uppercase;
  line-height: 34px;
  font-weight: bold;
  color: black;
  margin: 0 34px 0 34px;
}

.searchItem > div > svg {
  margin-bottom: 9px;
}
.dataPicker1 {
  position: absolute;
  left: calc(50% - 491px);
  top: -110px;
}

.dataPicker2 {
  position: absolute;
  left: calc(50% - 255px);
  top: -110px;
}

.form-control {
  width: 0;
  height: 0;
  padding: 0;
  border:none!important;
}
.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #5A5A5A;
  margin: 1vh;
}

.dotActive {
  background-color: rgb(255, 255, 255);
}

.dotsContainer {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

/* end data picker */

.someShit h5{
  cursor: pointer;
}

/* About us */
.aboutUs1 {
  height: 150px;
  width: 100%;
}

/*Vitalik*/

/*!* About us *!*/
/*.aboutUs1{*/
/*height: 150px;*/
/*width: 100%;*/
/*}*/
/*.left,.right{*/
/*width: 30%;*/
/*height: 30%;*/
/*background: white;*/
/*}*/
.bottomAll {
  background: #F8F6F6;
}

.btmWrapper {
  width: 84%;
  margin: auto;
  padding-top: 5%;
}

.photoMain {
  order: 2;
}

.infosMain {
  order: 1;
}

.kartinkaMain {
  width: 100%;
}

.photoMain {
  margin-left: 10%;
  width: 51%;
}

.infosMain {
  width: 45%;
}

.infosMain h2 {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Raleway;
  font-weight: 800;
  font-size: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
  /*padding: 3% 0 8% 0;*/
  /*margin: 0;*/
}

.infosMain h4 {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Raleway;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: #5A5A5A;
  margin-bottom: 3%;
}

.infosMain p {
  font-family: Roboto;
  font-weight: 300;
  line-height: 27px;
  font-size: 16px;
  color: #000000;
}

.aboutHotel {
  padding-bottom: 15vh;
}

.selected {
  margin-bottom: 20%;
}

.selected span {
  border-bottom: 7px solid #53D7B7;
  padding-bottom: 4%;
}

.someShit {
  margin-top: 13%;
  margin-right: -4%;
}

.someShit h5 {
  font-family: Roboto;
  font-weight: 500;
  line-height: 27px;
  font-size: 16px;
  color: #53D7B7;
  margin-right: 4%;
  margin-top: -3px;
  margin-bottom: 0 !important;
}

.item {
  width: 23.5%;
  margin: 0 1%;
  background: #FFFFFF;
  border: 0.5px solid #E5E5E5;
  box-sizing: border-box;
}
.item:hover{
  margin-top: -1%;
  transition: .3s ease-in-out;
  -webkit-box-shadow: 3px 14px 25px -4px rgba(0,0,0,0.65);
  -moz-box-shadow: 3px 14px 25px -4px rgba(0,0,0,0.65);
  box-shadow: 3px 14px 25px -4px rgba(0,0,0,0.65);
}

.item:first-child {
  margin-left: 0;
}

.item:last-child {
  margin-right: 0;
}

.back1, .back2, .back3, .back4 {
  width: 100%;
  height: 21vh;
}

.back1 {
  background-image: url("../../../../../src/assets/png/mainFirst.png");
}

.back2 {
  background-image: url("../../../../../src/assets/png/mainSecond.png");
}

.back3 {
  background-image: url("../../../../../src/assets/png/mainThird.png");
}

.back4 {
  background-image: url("../../../../../src/assets/png/mainFOurth.png");
}

.back1, .back2, .back3, .back4 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.item h3 {
  font-family: Raleway;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #000000;
  padding-bottom: 1%;
  text-align: center;
  padding-top: 11%;
}

.item h4 {
  font-family: Roboto;
  font-weight: 300;
  line-height: 24px;
  font-size: 14px;
  color: #000000;
  text-align: justify;
  padding: 2% 7%;
  padding-bottom: 1%;
}

.someShit2 {
  /*margin-top: 13%;*/
  margin-bottom: 5%;
}

.someShit2 h5 {
  font-family: Roboto;
  font-weight: 500;
  line-height: 27px;
  font-size: 16px;
  color: #C4C4C4;
  margin-right: 4%;
  margin-top: -3px;
  margin-bottom: 0 !important;
  cursor: pointer;
}

.someShit2 h5:hover {
  color: #53D7B7;
}

.someShit2 img {
  cursor: pointer;
}

.greenShit {
  display: none;
  position: absolute;
}

.images:hover .greenShit {
  display: block;
}

.images:hover .greyShit {
  display: none;
}

.greyShit {
  position: absolute;
}

.images {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 9%;
}

.together {
  border-left: 7px solid #53D7B7;
  padding-left: 2.5%;
  margin-bottom: 4%;
}

.together h3 {
  font-family: Raleway;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: #5A5A5A;
  margin-top: -3px;
  margin-bottom: 13px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.together h2 {
  font-family: Raleway;
  font-weight: 800;
  font-size: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: -4px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ashkas, .ashkas3, .ashkas4 {
  margin-top: 10%;
  margin-left: 1%;
  margin-bottom: 2%;
}
.ashkas3{
  margin-top: 2%;
}
.divka {
  margin-bottom: 2%;
}

.grnBlock {
  margin-left: 1.2%;
}

.ashkas h3, .ashkas2 h3, .ashkas3 h3, .ashkas4 h3 {
  font-family: Raleway;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: #5A5A5A;
  margin-bottom: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ashkas h2, .ashkas2 h2, .ashkas3 h2, .ashkas4 h2 {
  font-family: Raleway;
  font-weight: 800;
  font-size: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filks{
  margin-left: 6%;
}

.grnBlock {
  width: 62px;
  height: 7px;
  background: #53D7B7;
}

.secondy {
  padding-bottom: 10px;
}

.item2 {
  width: 32%;
  /*margin: 0 1%;*/
  border: 0.5px solid #E5E5E5;
  box-sizing: border-box;
  padding: 2%;
}

.item2:first-child {
  margin-left: 0;
}

.item2:last-child {
  margin-right: 0;
}

.item2 p {
  font-family: Roboto;
  font-weight: 300;
  line-height: 27px;
  font-size: 16px;
  text-align: center;
  color: #000000;
  margin-bottom: 4vh;
}

.item2 {
  border: 1px solid #35D1D1;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 15vh;
}

.whiteBlock {

  /*width: 79px;*/
  /*height: 79px;*/
  position: absolute;
  /*width: 25%;*/
  /*height: 50%;*/
  /*bottom: -23%;*/
  background: #FFFFFF;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.05);
  width: 6vw;
  height: 10vh;
  bottom: -5vh;
}

.whiteBlock img {
  height: 5vh;
  margin-top: 2.5vh;
}

.ashkas3 {
  margin-bottom: 0 !important;
}

.ashkas3 p {
  font-family: Roboto;
  font-weight: 300;
  line-height: 27px;
  font-size: 16px;
  color: #000000;
  width: 25vw;
  margin-top: .5%;
  margin-bottom: 2%;
}

.ashkas2 p {
  font-family: Roboto;
  font-weight: 300;
  line-height: 24px;
  font-size: 14px;
  color: #000000;
}

.underFooterBlock {
  margin-left: 1%;
}

.ashkas2 {
  width: 30%;
}

.map {
  width: 60%;
}

.ashkas2 h2 {
  margin-bottom: 11%;
}

.peshkas {
  width: 70%;
  margin-bottom: 10%;
}

.peshkas p {
  margin-bottom: 8%;
}

.ashkas2 .grnBlock {
  margin-left: 5%;
}

.invallid {
  border: 1px solid red !important;
}

agm-map {
  height: 400px;
  background: black;
}

.map-wrapper {
  margin: auto;
  width: 100%;
}

.location-wrapper {
  background-color: #F8F6F6;
}

@media screen and (max-width: 1020px) {
  .ashkas3 p, .ashkas3 h2 {
    margin-left: auto;
    margin-right: auto;
  }
/* data picker */
  .dataPicker1 {
    left: 15%;
  }

  .dataPicker2 {
    right: 39%;
    left: auto;
  }

  
  .wrapper{
    left: calc(50% - 475px);
  }
  .search{
    width: 950px;
  }

  .searchItem {
  }

  /* end data picker */

  .whiteBlock {
    width: 9vw;

  }

  .kartinkaMain {
    height: 100%;
  }

  .aboutHotel {
    flex-direction: column !important;
    align-items: center;
  }

  /*.photoMain {*/
  /*width: 80% !important;*/
  /*margin: auto;*/
  /*}*/
  .btmWrapper {
    width: 100% !important;
  }

  .infosMain {
    width: 60% !important;
    margin: auto;
    text-align: center;
  }

  .photoMain {
    width: 60% !important;
    margin: 0 !important;
  }

  .someShit {
    margin-bottom: 4%;
    margin-top: 0 !important;
    margin-right: 0 !important;
  }

  .selected {
    margin-bottom: 15% !important;
  }

  .item {
    width: 35% !important;
    margin: 5% 7% !important;
  }

  .firsty {
    flex-wrap: wrap;
  }

  .secondy {
    align-items: center;
    flex-direction: column !important;
  }

  .item2 {
    width: 38% !important;
  }

  .ashkas {

    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 0;
  }

  .underFooterBlock {
    flex-direction: column !important;
    align-items: center;
  }

  .map {
    width: 70% !important;
  }

  .ashkas2 {
    width: 70% !important;
    text-align: center;
  }

  .divka {
    justify-content: center;
  }

  .peshkas {
    width: 100% !important;
    align-content: center;
  }
}

@media screen and (max-width: 1020px) {
/* data picker */
.dataPicker1 {
  left: 1%;
}

.dataPicker2 {
  right: 65%;
  left: auto;
}
.wrapper{
  left: calc(50% - 384px);
}
.search{
  width: 732px;
}

.searchItem {
  width: 140px;
}
.searchItem>div{
  align-items:flex-end;
}
.searchItem > div> .day{
  font-size: 25px!important;
}
.searchItem > div > .month{
font-size: 12px;
}

/* end data picker */


}

@media screen and (max-width: 765px) {
  .underFooterBlock {
    margin-left: 0;
  }

  .dataPicker1 {
    left: 10%;
    top: 17%;
  }

  .dataPicker2 {
    left: 52%;
    top: 17%;
  }

  .map {
    width: 80% !important;
  }

  .topImage {
    width: 100%;
    height: 50vh;
  }

  .swithContainer, .dotsContainer {
    display: none !important;
  }

  .search {
    border-bottom: 1px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto !important;
    /*flex-direction: column;*/
    /*width: 35%;*/
    height: auto;
    background-color: white;
    /* margin-left: calc(50% - 491px); */
    /* margin-top: 8vh; */
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .searchItem {
    width: 25% !important;
    border: 1px solid gainsboro;
  }

  .searchItem11 {
    width: 50% !important;
  }

  .verticaleLine {
    display: none;
  }

  .searchIcone {
    height: auto;
    width: 25%;
    border: 1px solid grey;
    border-bottom: 0;
  }

  .sliderContent {
    position: initial;
  }

  .palma {
    display: none;
  }

  .item {
    width: 40% !important;
    margin: 5% 5% !important;
  }

  .back1, .back2, .back3, .back4 {
    height: 31vh;
  }

  .btmWrapper {
    padding-top: 10%;
  }
}

@media screen and (max-width: 965px) {
  .ashkas3 p {
    width: 35vw;
  }

  .search {
    margin: 0px 2%;
  }
}

@media screen and (max-width: 645px) {
  agm-map {
    height: 45vh;
  }

  .item {
    width: 51% !important;
    margin: 5% auto !important;
  }

  .dataPicker1 {
    top: 69%;
  }

  .dataPicker2 {
    top: 69%;
  }

  .photoMain, .infosMain {
    width: 75% !important;
  }

  .whiteBlock {
    width: 12vw;

  }

  .item2 {
    width: 45% !important;
  }
}

@media screen and (max-width: 570px) {
  .dataPicker1 {
    left: 3%;
    top: 69%;
  }

  .dataPicker2 {
    left: 3%;
    top: 69%;
  }
}

@media screen and (max-width: 510px) {
  .searchItem div .roomsNumber {
    margin: 0px 14px 0 14px;
  }

  .searchItem p {
    margin: 0 10px 0 0;
  }

  .dataPicker1 {
    left: 3%;
    top: 69%;
  }

  .dataPicker2 {
    left: 3%;
    top: 69%;
  }

  .item {
    width: 70% !important;
    margin: 5% auto !important;
  }

  .photoMain, .infosMain {

    width: 90% !important;
  }

  .whiteBlock {
    width: 18vw;

  }

}

@media screen and (max-width: 765px) {
  app-slider, .ashkas3 {
    display: none !important;
  }
}

@media screen and (max-width: 425px) {
  .map {
    width: 90% !important;
  }

  agm-map {
    height: 40vh;
  }

  .searchItem div .roomsNumber {
    margin: 0px 1px 0 1px;
  }

  .infosMain h2 {
    font-size: 17px;
  }

  .ashkas h2 {
    font-size: 18px;
  }

  .item {
    width: 90% !important;
    margin: 5% auto !important;
  }

  .item2 {
    width: 66% !important;
  }

  .kartinkaMain {
    height: 40vh;
  }

  /*.numbers{*/
  /*flex-direction: column;*/
  /*align-items: flex-start!important;*/
  /*margin-top: -20px;*/
  /*}*/

}

@media screen and (max-width: 320px) {
  .whiteBlock {
    width: 20vw;
  }

  .kartinkaMain {
    height: 34vh;

  }
}

