<form action="" (submit)="addNews(form)" #form [formGroup]="newsForm">
  <div>
    <div class="left-block">
      <input (change)="readUrl($event)" multiple id="file" type="file" class="d-none" name="multipartFile">
    </div>
    <div class="text">
      <h3>English</h3>
      <div class="row">
        <div class="col-lg-1">
          <h5>Title</h5>
        </div>
        <div class="col-lg-11">
        <textarea type="text"
                  formControlName="TitleEn"
                  class="w-100" style="height: 30px"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1">
          <h5>Header Text</h5>
        </div>
        <div class="col-lg-11">
        <textarea
          formControlName="HeaderTextareaEn"
          class="w-100" style="height: 80px"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1">
          <h5>Main Text</h5>
        </div>
        <div class="col-lg-11">
        <textarea
          formControlName="textEn"
          class="w-100" style="height: 150px"></textarea>
        </div>
      </div>

      <h3>Ukrainian</h3>
      <div class="row">
        <div class="col-lg-1">
          <h5>Title</h5>
        </div>
        <div class="col-lg-11">
        <textarea
          formControlName="TitleUk"
          class="w-100" style="height: 30px"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1">
          <h5>Header Text</h5>
        </div>
        <div class="col-lg-11">
        <textarea
          formControlName="HeaderTextareaUk"
          class="w-100" style="height: 80px"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1">
          <h5>Main Text</h5>
        </div>
        <div class="col-lg-11">
        <textarea
          formControlName="textUk"
          class="w-100" style="height: 150px"></textarea>
        </div>
      </div>


      <h3>Polish</h3>
      <div class="row">
        <div class="col-lg-1">
          <h5>Title</h5>
        </div>
        <div class="col-lg-11">
        <textarea
          formControlName="TitlePl"
          class="w-100" style="height: 30px"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1">
          <h5>Header Text</h5>
        </div>
        <div class="col-lg-11">
        <textarea
          formControlName="HeaderTextareaPl"
          class="w-100" style="height: 80px"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1">
          <h5>Main Text</h5>
        </div>
        <div class="col-lg-11">
        <textarea
          formControlName="textPl"
          class="w-100" style="height: 150px"></textarea>
        </div>
      </div>


      <h3>Russian</h3>
      <div class="row">
        <div class="col-lg-1">
          <h5>Title</h5>
        </div>
        <div class="col-lg-11">
        <textarea
          formControlName="TitleRu"
          class="w-100" style="height: 30px"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1">
          <h5>Header Text</h5>
        </div>
        <div class="col-lg-11">
        <textarea
          formControlName="HeaderTextareaRu"
          class="w-100" style="height: 80px"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1">
          <h5>Main Text</h5>
        </div>
        <div class="col-lg-11">
        <textarea
          formControlName="textRu"
          class="w-100" style="height: 150px"></textarea>
        </div>
      </div>

    </div>
  </div>
  <div *ngIf="img" class="image">
    <img [src]="img" alt="" class="w-100">
  </div>
  <br>
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-3">
      <input (change)="readUrl($event)" formControlName="multipartFiles" accept="image/*" multiple id="file3" type="file" class="d-none" name="multipartFiles">
      <label for="file3" class="addImage">Add Image</label>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-3">

      <button class="button" type="submit" [disabled]="newsForm.invalid" class="w-100">Save news</button>
    </div>
    <div class="col-lg-2"></div>
  </div>
</form>



<div *ngFor=" let news of allNews">
  <div *ngIf="news">
    <hr>
    <div class="row">
      <div class="col-lg-3">Дота: {{news.dateTime}}</div>
      <!--<div class="col-lg-8">Дата: {{news.amenityNames[2].title}}</div>-->
      <div class="col-lg-1"><button (click)="deleteNews(news.id)">Видалити</button></div>
    </div>
  </div>
</div>
