<form action="" (submit)="addImages(form)" #form [formGroup]="mainPageForm">
  <br>
  <div [ngClass]="{'kaka' :appear}" *ngFor="let one of image" class="image">
    <img [src]="one" alt="">

  </div>
  <br>
  <div class="buttonBlock">
    <h3>SEO</h3>
    <div class="row">
      <div class="col-lg-1">
        <h5>Ключові слова (SEO):</h5>
      </div>
      <div class="col-lg-11">
        <textarea
          formControlName="keywords"
          class="w-100" style="height: 80px"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-1">
        <h5>Опис (SEO):</h5>
      </div>
      <div class="col-lg-11">
        <textarea
          formControlName="description"
          class="w-100" style="height: 80px"></textarea>
      </div>
    </div>
    <input (change)="readUrl($event)" formControlName="multipartFiles" accept="image/*" multiple id="file" type="file"
           class="d-none" name="multipartFiles">
    <label (click)="toggle()" for="file">Додати зображення</label>
    <button class="button" [disabled]="!mainPageForm.valid" type="submit">Зберегти зображення</button>
  </div>

</form>
