<form action="" (submit)="addImages(form)" #form [formGroup]="mainPageForm">
  <br>
  <div [ngClass]="{'kaka' :appear}" *ngFor="let one of image" class="image">
    <img [src]="one" alt="">

  </div>
  <br>
  <div class="buttonBlock">
    <input (change)="readUrl($event)" formControlName="multipartFiles" accept="image/*" multiple id="file" type="file" class="d-none" name="multipartFiles">
    <label (click)="toggle()" for="file">AddImage</label>
    <button class="button" [disabled]="!mainPageForm.valid" type="submit" >Зберегти зображення</button>
</div>

</form>
