*{
  margin: 0;
  padding: 0;
}
h2,h3{
  cursor: pointer;
  font-size: 15px;
  text-transform: capitalize;
  margin-bottom: 5%;
}

.hundred{
  padding: 2% 0;
  width: 23%;
  padding-right: 1%;
  padding-left: 1%;
}

button {
  background: #53D7B7;
  border: 1px solid #53D7B7;
  box-sizing: border-box;
  font-family: Raleway;
  font-weight: bold;
  line-height: 24px;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 3px 20px;
  margin: 5% 0 5% 0;
  cursor: pointer;
}
button:active{
  background: #2ebd9a;
}

.together{
  height: 8vh;
}
