<div class="container">
  <div class="row" *ngFor="let one of callback; let i = index">
    <div class="col-lg-2">
      <p>{{one.dateTime | datePipe}}</p>
      <p>Переглянуто:</p>
      <input type="checkbox" [attr.checked]="one.available ? null : 'checked'" (click)="changStatus(i)">
    </div>
    <div class="col-lg-2">
      <p>Ім'я: {{one.name}}</p>
      <p>Email: {{one.email}}</p>
      <p>Тел.:{{one.phone}}</p>
    </div>
    <div class="col-lg-8">
      {{one.message}}
    </div>
  </div>
  <div class="butt my-3 center d-flex justify-content-center">
    <button class="btn btn-success" (click)="showMore()">Показати більше</button>
  </div>
</div>

