<div class="firsty d-flex flex-row justify-content-between">
  <div *ngFor="let one of proposals" class="item">
    <div [routerLink]="['/proposal', one.id]" [style.background-image]="'url(' + (one.picturePath|imagePipe) + ')'"
         class="back1"></div>
    <h3>{{one.proposalDescriptions['current-language-index' | translate].title}}</h3>
    <h4>{{one.proposalDescriptions['current-language-index' | translate].mainText}}</h4>
    <div class="someShit2 d-flex justify-content-end">
      <h5 [routerLink]="['/proposal', one.id]">переглянути</h5>
      <div class="images">
        <img class="greyShit" src="../../../assets/svg/siraStrilka.svg" alt="">
        <img class="greenShit" src="../../../assets/svg/zelenaStrilka.svg" alt="">
      </div>
    </div>
  </div>
</div>

