
.firsty::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

.firsty::-webkit-scrollbar {
  width: 12px;
}

.firsty::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(192, 192, 192, 0.5);
}

.back1 {
  width: 100%;
  height: 21vh;
}

.firsty {
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 0 3%;
}

.item {
  width: 28%;
  margin: 1% 3% 25px 3%;
  background: #FFFFFF;
  border: 0.5px solid #E5E5E5;
  box-sizing: border-box;
  transition: .3s ease-in-out;
  flex: 0 0 auto;;
}

.item:hover {
  margin-top: -0.5%;
  transition: .3s ease-in-out;
  -webkit-box-shadow: 0px 6px 22px -4px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 0px 6px 22px -4px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 6px 22px -4px rgba(0, 0, 0, 0.68);
}

.back1 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.item h3 {
  font-family: Raleway;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #000000;
  padding-bottom: 1%;
  text-align: center;
  padding-top: 11%;
}

.item h4 {
  font-family: Roboto;
  font-weight: 300;
  line-height: 24px;
  font-size: 14px;
  color: #000000;
  text-align: justify;
  padding: 2% 7%;
  padding-bottom: 1%;
  max-height: 58px;
  overflow: hidden;
}

.someShit2 {
  margin-bottom: 5%;
}

.someShit2 h5 {
  font-family: Roboto;
  font-weight: 500;
  line-height: 27px;
  font-size: 16px;
  color: #C4C4C4;
  margin-right: 4%;
  margin-top: -3px;
  margin-bottom: 0 !important;
  cursor: pointer;
}

.someShit2 h5:hover {
  color: #53D7B7;
}

.someShit2 img {
  cursor: pointer;
}

.greenShit {
  display: none;
  position: absolute;
}

.images:hover .greenShit {
  display: block;
}

.images:hover .greyShit {
  display: none;
}

.greyShit {
  position: absolute;
}

.images {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 9%;
}

@media screen and (max-width: 1020px) {

  .whiteBlock {
    width: 9vw;
  }

  .item {
    width: 36% !important;
    margin: 5% 7% !important;
  }

}

@media screen and (max-width: 1440px) {
  .item {
    width: 28%;
    margin: 1% 3%;
  }
}

@media screen and (max-width: 765px) {

  .item {
    width: 42% !important;
    margin: 5% 4% !important;
  }

}

@media screen and (max-width: 600px) {

  .firsty {
    margin: 0px 1% 45px 1%;
  }

  .item {
    width: 76% !important;
    margin: 5% 12% !important;
  }

}

@media screen and (max-width: 400px) {

  .back1 {
    height: 17vh;
  }

}
