<div class="allBack">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="rooms">
          <div *ngFor="let one of rooms" class="room d-flex justify-content-between">
            <div class="photo d-flex">
              <div [routerLink]="['/rooms-booking', one.id]" class="kartinka"
                   [style.background-image]="'url(' + (one.images[0].path|imagePipe) + ')'"></div>
              <div class="block d-flex justify-content-center align-items-center">{{one.price}} &#8372;</div>
            </div>
            <div class="infos ">
              <h2>{{roomTariff[one.type]['current-language-index' | translate]}}</h2>
              <p>{{one.descriptions['current-language-index' | translate]?one.descriptions['current-language-index' |
                translate].description:''}}</p>
              <div class="imgs d-flex justify-content-start">
                <div *ngFor="let oneImage of one.amenities" class="imageRoom"
                     [style.background]="'url(' + (oneImage.imagePath|imagePipe) + ')'">
                  <h5 *ngIf="oneImage.amenityNames[0].name=='House'">{{one.square}} m<sub>2</sub></h5></div>
              </div>
              <button [routerLink]="['/rooms-booking', one.id]">Переглянути</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
