<div class="allBack">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="rooms">
          <div *ngFor="let one of rooms; let i = index" class="room d-flex justify-content-between" id="some{{one.id}}">
            <div class="photo d-flex">
              <div [routerLink]="['/','rooms-booking',one.id]" class="kartinka"
                   [style.background-image]="'url(' + (one.images[0].path|imagePipe) + ')'"></div>
              <div class="block d-flex justify-content-center align-items-center">{{one.price?one.price:999}} ГРН</div>
            </div>
            <div class="infos ">
              <h2>{{one.type | translate}}</h2>
              <p>{{one.descriptions['current-language-index' | translate]?one.descriptions['current-language-index' |
                translate].description:''}}</p>
              <div class="imgs d-flex justify-content-start">
                <div *ngFor="let oneImage of one.amenities" class="imageRoom"
                     [style.background]="'url(' + (oneImage.imagePath|imagePipe) + ')'">
                  <h5 *ngIf="oneImage.amenityNames[0].name=='House'">{{one.square}} кв.м</h5></div>
              </div>
              <span class="span-button"><a [routerLink]="['/','rooms-booking',one.id]">Переглянути</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
