p {
  text-align: justify;
  width: 100%;
  overflow: hidden;
}

.imageRoom {
  display: flex;
  justify-content: center!important;
  width: 30px;
  height: 30px;
  margin-right: 5%;
  background-size:30px 28px!important;
  background-repeat: no-repeat!important;
  background-position: center!important;
  }

sub{
  vertical-align: super;
}
.allBack {
  background: #F8F6F6;
}

.rooms {
  width: 55%;
  margin: auto;
  padding-top: 15vh;
}

.photo {
  position: relative;
  width: 50%;
}

.room:nth-child(even) .photo {
  position: relative;
  order: 2;
  margin-left: 3.5%;
  width: 50%;
}

.room:nth-child(even) .infos {
  order: 1;
}

.room:nth-child(even) .block {
  left: 0;
}

.room {
  padding-bottom: 72px;
}

.block {
  height: 30%;
  width: 100px;
  background: #53D7B7;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: Roboto;
  font-weight: bold;
  line-height: 18px;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
}

.infos {
  width: 40%;
  height: 100%;
}

.infos h2 {
  font-family: Raleway;
  font-weight: 800;
  font-size: 24px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
  padding: 3% 0 8% 0;
  margin: 0;
  text-align: center;

}

.infos p {
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  font-size: 14px;
  color: #5A5A5A;
  height: 90px;
  overflow: hidden;
}

.kartinka {
  position: relative;
  width: 100%;
  height: 288px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

button {
  background: #53D7B7;
  border: 1px solid #53D7B7;
  box-sizing: border-box;
  font-family: Raleway;
  font-weight: bold;
  line-height: 19px;
  font-size: 11px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  width: 110px;
  height: 30px;
}

button:hover {
  cursor: pointer;
  background-color: #6eddc1;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-shadow: 0px 7px 48px -14px rgba(0, 0, 0, 0.76);
  box-shadow: 0px 7px 48px -14px rgba(0, 0, 0, 0.76);
}

.imgs {
  width: 75%;
  margin-bottom: 7%;
}

.imgs h5 {
  font-family: Raleway;
  font-weight: bold;
  line-height: 19px;
  font-size: 10px;
  text-align: center;
  color: #000000;
  margin: -1.8px;
  position: absolute;
  margin-top: 29px;
}

@media screen and (max-width: 1100px) {

  .room {
    flex-direction: column !important;
  }

  .photo {
    width: 80% !important;
    margin: auto;
  }

  .infos {
    width: 100% !important;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;

  }

  .room:nth-child(even) .photo {
    order: 1;
  }

  .room:nth-child(even) .infos {
    order: 2;
  }
}

@media screen and (max-width: 1020px) {

  .room {
    padding-bottom: 8vh !important;
  }

  .imgs {
    width: 70% !important;
    margin-bottom: 10% !important;
  }

}

@media screen and (max-width: 990px) {

  .rooms {
    width: 70%;
  }

}

@media screen and (max-width: 425px) {

  .photo {
    width: 100% !important;
  }

}




























