.wrapper {
  background-color: #F8F6F6;
}

.dataPicker1{
  position: absolute;
  left: -3%;
  top: 137px!important;
}
.dataPicker2{
  position: absolute;
  left: -53%;
  top: 137px!important;
}
.imgs img {
  width: 25px;
  height: 25px;
  margin-right: 5%;
}
.imgs {
  width: 75%;
  margin-bottom: 7%;
}
.main{
  position: absolute;
}
.imgs h5 {
  font-family: Raleway;
  font-weight: bold;
  line-height: 19px;
  font-size: 11px;
  text-align: center;
  color: #000000;
  margin: 0;
  position: absolute;
  margin-top: 25px;
  margin-left: -3px;
}


.content {
  display: flex;
  width: 78%;
  margin: auto;
  flex-direction: column;
}

.top {
  display: flex;
  width: 100%;
  margin: 0 auto 0 auto;
  justify-content: space-between;
  margin-top: 40px;
}

.slider {
  width: 57%;
  height: 400px;
  position: relative;
}
.show {
  opacity: 1;
  transition: 0.6s;
}

.main {
  position: absolute;
  width: 100%;
  height: 100%;
}

.swith {
  position: absolute;
  z-index: 10;
  background-color: #5A5A5A;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 25px);
}
.swith:hover, .swith:active {
  background-color: #424242;
}

.left {
  left: 7%;
}

.right {
  right: 7%;
}

.data-picker {
  position: relative;
  width: 41%;
  height: 400px;
  background-color: #0947b1;
}

.bottom {
  margin-top: 50px;
  width: 47%;
}

.selected {
  text-transform: uppercase;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  line-height: 41px;
  font-size: 24px;

  color: #000000;
}

.roomDesc{
  padding-top: 3%;
  text-transform: uppercase;
  font-family: Raleway;
  font-weight: bold;
  line-height: 24px;
  font-size: 14px;
  color: #5A5A5A;
}

.selected span {
  border-bottom: 7px solid #53D7B7;
  padding-bottom: 1%;

  font-family: Roboto;
  font-weight: bold;
  line-height: 41px;
  font-size: 24px;
  color: #000000;
}

.room-description-title {
  font-family: Roboto;
  font-weight: 300;
  line-height: 27px;
  font-size: 16px;
  color: #000000;
  padding-bottom: 5%;
}

.room-description {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 27px;
  font-size: 16px;
  text-align: justify;
  color: #000000;

}

.price-title {
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 27px;
  font-size: 16px;

  color: #5A5A5A;

}

.price-description {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 27px;
  font-size: 16px;
  text-align: justify;
  color: #000000;
  margin-left: -1%;
}

.price{
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 33px;
  font-size: 19px;
  color: #53D7B7;
  margin-left: -1%;
}

.amenity {
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 27px;
  font-size: 16px;
  color: #5A5A5A;
  margin-left: -0.4%;

}

.amenity-wrapper {
  border-left: 3px solid #53D7B7;

}


.imgs {
  width: 250px;
  margin-left: -0.4%;
}

.imgs h5 {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  line-height: 19px;
  font-size: 11px;
  text-align: center;
  color: #000000;
  margin: 0;
  position: absolute;
  margin-top: 25px;
  margin-left: 5px;
}


/*SLIDER!!!*/
.topImage {
  width: 100%;
  height: 400px;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  position: relative;
  opacity: 0;
}
.show{
  opacity: 1;
}


/*datapicker  */


.searchIcone{
  cursor: pointer;
}
.search {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: white;
}

.searchItem {
  width: 50%;
  height: 37%;
}
.searchItem>div>div{
  cursor: pointer;
}
.searchIcone {
  height: 71px;
  background-color: #53D7B7;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.searchItem p {
  font-family: Roboto;
  font-weight: bold;
  line-height: 27px;
  font-size: 16px;
  text-align: end;
  color: #000000;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.searchItem > div {
  justify-content: center;
  align-items: flex-end;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.searchItem .day {
  font-size: 34px;
  text-transform: uppercase;
  line-height: 34px;
  font-weight: bold;
  color: black;
}

.searchItem .month {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 14px;
  margin:0 5px 2px 5px;

}

.searchItem .year {
  font-size: 17px;
  text-transform: uppercase;
  line-height: 17px;
  font-weight: bold;
  color: #C4C4C4;
  margin-bottom: 2px;
}
.searchItem:nth-child(1) .year {
  margin-right: 10px;
}
.searchItem:nth-child(2) .day {
  margin-left: 10px;
}


.searchItem:nth-child(3),.searchItem:nth-child(4),.searchItem:nth-child(5){
  width: 30%;
  height: 45%;
  text-align: center;
}

.searchItem:nth-child(1) .numbers{
  margin-left: 8%;
}

.searchItem:nth-child(1) p,.searchItem:nth-child(2) p{
  margin-top: 22px;
  margin-right: 32%;
}

.searchItem:nth-child(1) .numbers,.searchItem:nth-child(2) .numbers{
  width: 71%!important;
  display: flex;
  justify-content: space-around;
}
.searchItem:nth-child(3) p ,.searchItem:nth-child(4) p,.searchItem:nth-child(5) p{
  text-align: center;
}

.searchItem:nth-child(3) div,.searchItem:nth-child(4) div,.searchItem:nth-child(5) div{
  display: flex;
  align-items: center;
}

.searchItem:nth-child(6){
  align-items: center;
  width: 80%;
  height: 71px;
  display: flex;
  justify-content: center;

}

.searchItem:nth-child(6) p{
  font-family: Raleway;
  margin: 0;
  font-weight: 800;
  font-size: 22px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
}


.searchItem .roomsNumber {
  font-family: Raleway;
  font-weight: 800;
  font-size: 35px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
  margin: 0 23px 0 23px;
}

.searchItem > div > svg {
  margin-bottom: 9px;
}

.form-control {
  width: 0;
  height: 0;
  padding: 0;
  border:none!important;
}
.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #5A5A5A;
  margin: 1vh;
}

.dotActive {
  background-color: rgb(255, 255, 255);
}

.dotsContainer {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.book{
  cursor: pointer;
}
.searchIcone{
  outline-color: transparent;
}

/*enddatapicker*/

@media screen and (max-width: 1140px) {
  .searchItem[_ngcontent-c4]:nth-child(1) .numbers[_ngcontent-c4], .searchItem[_ngcontent-c4]:nth-child(2) .numbers[_ngcontent-c4]{
    justify-content: space-around;
    width: 90%;
  }
  .content{
    width: 90%;
  }
  .searchItem[_ngcontent-c4]:nth-child(1) .numbers[_ngcontent-c4], .searchItem[_ngcontent-c4]:nth-child(2) .numbers[_ngcontent-c4]{
    width: 100%!important;
  }
  .bottom{
    width: 90%;
  }

}

@media screen and (max-width: 768px) {

  .topImage {
    height: 300px!important;
  }
  .swith{
  }
  .top {
    flex-direction: column;
    margin-top: 10px;
  }

  .bottom {
    width: 100%;
  }
  .slider{
    width: 100%;
    height: 300px!important;
  }
  .main{
    height: 300px;
  }
  .data-picker{
    width: 100%;
    height: 240px;
    margin-top: 10px;

  }

}
@media only screen and (min-device-width : 320px) and (max-device-width : 576px)  {

  .topImage {
    height: 300px!important;
  }
  .swith{
  }
  .top {
    flex-direction: column;
    margin-top: 10px;
  }

  .bottom {
    width: 100%;
  }
  .slider{
    width: 100%;
    height: 300px!important;
  }
  .main{
    height: 300px;
  }
  .data-picker{
    width: 100%;
    height: 240px;
    margin-top: 10px;

  }
  .searchItem{
    height: 30%;
  }
  .searchItem[_ngcontent-c4]:nth-child(1) p[_ngcontent-c4], .searchItem[_ngcontent-c4]:nth-child(2) p[_ngcontent-c4]{
    margin-top: 8px;
    margin-bottom: 0;: 8px;
  }
  .searchItem[_ngcontent-c4]:nth-child(3), .searchItem[_ngcontent-c4]:nth-child(4), .searchItem[_ngcontent-c4]:nth-child(5){
    height: 40%;
    width: 33%;
  }
  p{
    margin-bottom: 0;
  }
  .searchItem[_ngcontent-c4] .month[_ngcontent-c4]{
    margin: 0;
  }

}


