<div class="wrapper">
  <div class="content">
    <div class="top">
      <div class="slider">
        <div *ngIf="images.length!=0">
          <div class="main" *ngFor="let one of images; let i = index">
            <div [style.background-image]="'url(' + (one.path|imagePipe) + ')'"
                 class="topImage"
                 [ngClass]="{ 'show' : i == index}"></div>
          </div>
          <div class="swith left" (click)="scroll(false)">
            <svg width="15" height="27" viewBox="0 0 15 27" fill="none">
              <path
                d="M14.5009 1.43445C15.1664 2.11374 15.1664 3.19508 14.5009 3.87437L4.87985 13.4954L14.5009 23.1165C15.1664 23.7958 15.1664 24.8771 14.5009 25.5564C13.8216 26.2357 12.7403 26.2357 12.061 25.5564L0 13.4954L12.061 1.43445C12.7264 0.75515 13.8216 0.75515 14.5009 1.43445Z"
                fill="#C4C4C4"/>
            </svg>
          </div>
          <div class="swith right" (click)="scroll(true)">
            <svg width="15" height="27" viewBox="0 0 15 27" fill="none">
              <path
                d="M0.499076 25.5565C-0.166359 24.8772 -0.166359 23.7958 0.499076 23.1165L10.1201 13.4955L0.499076 3.87439C-0.166359 3.19509 -0.166359 2.11376 0.499076 1.43446C1.17837 0.755163 2.2597 0.755163 2.939 1.43446L15 13.4955L2.939 25.5565C2.27357 26.2358 1.17837 26.2358 0.499076 25.5565Z"
                fill="#C4C4C4"/>
            </svg>
          </div>
        </div>
      </div>
      <div class="data-picker">
        <div class="search">
          <div class="searchItem searchItem11" (click)="dp.toggle()">
            <p>заїзд</p>
            <div class="numbers d-flex w-100" style="cursor: pointer">
              <div class="day">{{model1?(model1.day): model1| date: 'dd'}}</div>
              <div class="month">{{model1.month| mounth}}</div>
              <div class="year">{{model1?(model1.year): model1| date: 'YY'}}</div>
            </div>
          </div>
          <div class="searchItem searchItem11" (click)="dp.toggle()">
            <p>виїзд</p>
            <div class="numbers d-flex w-100" style="cursor: pointer">
              <div class="day">{{model2?(model2.day): model2| date: 'dd'}}</div>
              <div class="month">{{model2.month| mounth}}</div>
              <div class="year">{{model2?(model2.year): model2| date: 'YY'}}</div>
            </div>
          </div>
          <div class="searchItem">
            <p>номери</p>
            <div class="d-flex">
              <div class="w-15 h-15 p-1" (click)="roomsNumberFunc(false)">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="13" viewBox="0 0 8 13" fill="none">
                  <path
                    d="M7.49779 0.263441C7.84188 0.614696 7.84188 1.17384 7.49779 1.52509L2.52288 6.5L7.49779 11.4749C7.84188 11.8262 7.84188 12.3853 7.49779 12.7366C7.14654 13.0878 6.5874 13.0878 6.23615 12.7366L-0.000412941 6.5L6.23615 0.263441C6.58023 -0.0878134 7.14654 -0.0878134 7.49779 0.263441Z"
                    fill="#5A5A5A"/>
                </svg>
              </div>
              <div class="roomsNumber">{{roomsNumber|| 1}}</div>
              <div class="bibi w-15 h-15 p-1" (click)="roomsNumberFunc(true)">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="13" viewBox="0 0 8 13" fill="none">
                  <path
                    d="M0.258065 12.7366C-0.0860215 12.3853 -0.0860215 11.8262 0.258065 11.4749L5.23298 6.5L0.258065 1.52509C-0.0860215 1.17384 -0.0860215 0.614695 0.258065 0.263441C0.609319 -0.0878136 1.16846 -0.0878136 1.51971 0.263441L7.75627 6.5L1.51971 12.7366C1.17563 13.0878 0.609319 13.0878 0.258065 12.7366Z"
                    fill="#5A5A5A"/>
                </svg>
              </div>
            </div>
          </div>
          <div class="searchItem">
            <p>дорослі</p>
            <div class="d-flex">
              <div class="w-15 h-15 p-1" (click)="adultsNumberFunc(false)">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="13" viewBox="0 0 8 13" fill="none">
                  <path
                    d="M7.49779 0.263441C7.84188 0.614696 7.84188 1.17384 7.49779 1.52509L2.52288 6.5L7.49779 11.4749C7.84188 11.8262 7.84188 12.3853 7.49779 12.7366C7.14654 13.0878 6.5874 13.0878 6.23615 12.7366L-0.000412941 6.5L6.23615 0.263441C6.58023 -0.0878134 7.14654 -0.0878134 7.49779 0.263441Z"
                    fill="#5A5A5A"/>
                </svg>
              </div>
              <div class="roomsNumber">{{adultsNumber|| 1}}</div>
              <div class="w-15 h-15 p-1" (click)="adultsNumberFunc(true)">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="13" viewBox="0 0 8 13" fill="none">
                  <path
                    d="M0.258065 12.7366C-0.0860215 12.3853 -0.0860215 11.8262 0.258065 11.4749L5.23298 6.5L0.258065 1.52509C-0.0860215 1.17384 -0.0860215 0.614695 0.258065 0.263441C0.609319 -0.0878136 1.16846 -0.0878136 1.51971 0.263441L7.75627 6.5L1.51971 12.7366C1.17563 13.0878 0.609319 13.0878 0.258065 12.7366Z"
                    fill="#5A5A5A"/>
                </svg>
              </div>
            </div>
          </div>
          <div class="searchItem">
            <p>діти</p>
            <div class="d-flex">
              <div class="w-15 h-15 p-1" (click)="childrenNumberFunc(false)">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="13" viewBox="0 0 8 13" fill="none">
                  <path
                    d="M7.49779 0.263441C7.84188 0.614696 7.84188 1.17384 7.49779 1.52509L2.52288 6.5L7.49779 11.4749C7.84188 11.8262 7.84188 12.3853 7.49779 12.7366C7.14654 13.0878 6.5874 13.0878 6.23615 12.7366L-0.000412941 6.5L6.23615 0.263441C6.58023 -0.0878134 7.14654 -0.0878134 7.49779 0.263441Z"
                    fill="#5A5A5A"/>
                </svg>
              </div>
              <div class="roomsNumber">{{childrenNumber|| 0}}</div>
              <div class="w-15 h-15 p-1" (click)="childrenNumberFunc(true)">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="13" viewBox="0 0 8 13" fill="none">
                  <path
                    d="M0.258065 12.7366C-0.0860215 12.3853 -0.0860215 11.8262 0.258065 11.4749L5.23298 6.5L0.258065 1.52509C-0.0860215 1.17384 -0.0860215 0.614695 0.258065 0.263441C0.609319 -0.0878136 1.16846 -0.0878136 1.51971 0.263441L7.75627 6.5L1.51971 12.7366C1.17563 13.0878 0.609319 13.0878 0.258065 12.7366Z"
                    fill="#5A5A5A"/>
                </svg>
              </div>
            </div>
          </div>
          <div class="searchItem BtnBook" (click)="findRoomByParams()">
            <p>забронювати</p>
          </div>
        </div>
        <input type="text"
               placeholder="Daterangepicker"
               class="form-control"
               bsDaterangepicker
               #dp="bsDaterangepicker"
               [minDate]="minDate"
               (bsValueChange)="onValueChange($event)">
        <div class="errorParams" *ngIf="errorMessag">Не знайдено вільних номерів!!!</div>
      </div>
    </div>
    <div class="bottom" *ngIf="roomType">
      <h2 class="selected"><span>{{roomTariff[roomType]['current-language-index' | translate]}}</span></h2>
      <p class="roomDesc">опис номеру</p>
      <p class="room-description-title">{{room.descriptions['current-language-index' |
        translate]?room.descriptions['current-language-index' |
        translate].description:''}}</p>
      <p class="price-title">Ціна</p>
      <!--<p class="price">{{room.price}} &#8372;</p>-->
      <p class="price">{{room.price}} грн</p>
    </div>
    <div *ngIf="amenities.length!=0" class="amenity-icons">
      <p class="amenity">зручності</p>
      <div class="imgs d-flex justify-content-start">
        <div *ngFor="let oneImage of amenities" class="imageRoom"
             [style.background]="'url(' + (oneImage.imagePath|imagePipe) + ')'">
          <!--<h5 *ngIf="oneImage.amenityNames[0].name=='House'">{{room.square}} m<sub>2</sub></h5>-->
          <h5 class="squareText" *ngIf="oneImage.amenityNames[0].name=='House'">{{room.square}} м.кв</h5>
        </div>
      </div>
    </div>
  </div>
  <!--<ng-content #dataContent>-->
  <!---->
  <!--</ng-content>-->
  <div [innerHtml]="liqPayFormHtml|safeHtml">
  </div>
</div>


