.wrapper {
  background-color: #F8F6F6;
}

.dataPicker1 {
  position: absolute;
  left: -3%;
  top: 137px !important;
}

.dataPicker2 {
  position: absolute;
  left: -53%;
  top: 137px !important;
}

/*.imgs img {*/
  /*width: 25px;*/
  /*height: 25px;*/
  /*margin-right: 5%;*/
/*}*/

/*.imgs {*/
  /*width: 75%;*/
  /*margin-bottom: 7%;*/
/*}*/

.main {
  position: absolute;
}

/*.imgs h5 {*/
  /*font-family: Raleway;*/
  /*font-weight: bold;*/
  /*line-height: 19px;*/
  /*font-size: 11px;*/
  /*text-align: center;*/
  /*color: #000000;*/
  /*margin: 0;*/
  /*position: absolute;*/
  /*margin-top: 25px;*/
  /*margin-left: -3px;*/
/*}*/

.content {
  display: flex;
  width: 78%;
  margin: auto;
  flex-direction: column;
}

/*.book{*/
  /*font-family: 'Raleway' , sans-serif;*/
  /*font-weight: 800;*/
  /*line-height: 26px;*/
  /*font-size: 22px;*/
  /*text-align: center;*/
  /*color: #000000;*/
/*}*/

.top {
  display: flex;
  width: 100%;
  margin: 0 auto 0 auto;
  justify-content: space-between;
  margin-top: 15vh;
}

.slider {
  width: 57%;
  height: 400px;
  position: relative;
}

.show {
  opacity: 1;
  transition: 0.6s;
}

.main {
  position: absolute;
  width: 100%;
  height: 100%;
}

.swith {
  position: absolute;
  z-index: 10;
  background-color: #5A5A5A;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 25px);
}

.swith:hover, .swith:active {
  background-color: #424242;
  cursor: pointer;
}

.left {
  left: 7%;
}

.right {
  right: 7%;
}

.data-picker {
  position: relative;
  width: 41%;
  height: 400px;
  background-color: #0947b1;
}

.bottom {
  margin-top: 50px;
  width: 47%;
}

.selected {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif!important;
  font-style: normal;
  font-weight: bold;
  line-height: 41px;
  font-size: 24px;

  color: #000000;
}

.roomDesc {
  padding-top: 3%;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif!important;
  font-weight: Bold;
  /*font-family: Roboto;*/
  line-height: 24px;
  font-size: 14px;
  color: #5A5A5A;

}

.persons{
  /*width: 25px;*/
  height: 15px;
  /*width: ;*/
  padding: 0!important;
  margin-top: 10px;
}

.place-price{
  width: 8vw;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.selected span {
  border-bottom: 7px solid #53D7B7;
  padding-bottom: 1%;

  font-family: Roboto;
  font-weight: bold;
  line-height: 41px;
  font-size: 24px;
  color: #000000;
}

.room-description-title {
  font-family: 'Roboto', sans-serif!important;
  font-weight: 200;
  line-height: 27px;
  font-size: 16px;
  color: #000000;
  /*padding-bottom: 5%;*/
  white-space: pre-wrap;
}

.squareText{
  font-family: 'Roboto', sans-serif!important;
  font-weight: Bold;
  line-height: 19px;
  font-size: 11px;
}


.room-description {
  font-family: 'Roboto', sans-serif!important;
  font-style: normal;
  font-weight: 300;
  line-height: 27px;
  font-size: 16px;
  text-align: justify;
  color: #000000;

}

pre{
  font-family: 'Roboto', sans-serif!important;
  color: #000000;
  font-style: normal!important;
  font-weight: normal!important;
  line-height: 27px!important;
  font-size: 16px!important;
}

.price-title {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif!important;
  font-style: normal;
  font-weight: bold;
  line-height: 27px;
  font-size: 16px;
  margin: 0 !important;
  color: #5A5A5A;
}

.price-description {
  font-family: 'Roboto', sans-serif!important;
  font-style: normal;
  font-weight: 300;
  line-height: 27px;
  font-size: 16px;
  text-align: justify;
  color: #000000;
  margin-left: -1%;
}

.price {
  font-family: 'Roboto', sans-serif!important;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  line-height: 33px;
  font-size: 19px;
  color: #53D7B7;
  margine: 0;
}

.amenity {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif!important;
  font-style: normal;
  font-weight: bold;
  line-height: 27px;
  font-size: 16px;
  color: #5A5A5A;
  /*margin-left: -0.4%;*/
  border-left: 4px solid #53D7B7;
  padding-left: 0.5%;
  margin-bottom: 3%;
}

.amenity-wrapper {
  border-left: 3px solid #53D7B7;

}

/*.imgs {*/
  /*width: 250px;*/
  /*!*margin-left: -0.4%;*!*/
  /*margin-left: 0.1%;*/
/*}*/
/*.imageRoom {*/
  /*display: flex;*/
  /*justify-content: center!important;*/
  /*width: 30px;*/
  /*height: 30px;*/
  /*!*margin-right: 5%;*!*/
  /*padding-left: 0px;*/
  /*padding-right: 25%;*/
  /*background-size:30px 28px!important;*/
  /*background-repeat: no-repeat!important;*/
  /*background-position: center!important;*/
  /*}*/
.imageRoom {
  display: flex;
  justify-content: center !important;
  width: 30px;
  height: 30px;
  margin-right: 1.5%;
  margin-bottom: 6%;
  background-size: 30px 28px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

/*.imageRoom h5{*/
  /*padding-left: 0px;*/
  /*padding-right: 25%;*/
/*}*/
.imgs {
  /*width: 75%;*/
  width: 100%;
  flex-wrap: wrap;
  /*margin-bottom: 7%;*/
  margin-bottom: 5%;
  margin-left: 0%;
}

.imgs p {
  font-family: 'Raleway', sans-serif!important;
  font-weight: bold!important;
  line-height: 19px!important;
  font-size: 10px!important;
  text-align: center!important;
  color: #000000!important;
  /*margin: -1.8px;*/
  margin: 1.2px!important;
  position: absolute!important;
  margin-top: 29px!important;
}
.errorParams{
  bottom: 74px;
  font-weight: 600;
  left: calc(50% - 115px);
  position: absolute;
  color: red;
  margin: auto;
}
sub{
  vertical-align: super;
}
/*.imgs h5 {*/
  /*font-family: Raleway, sans-serif;*/
  /*font-weight: bold;*/
  /*line-height: 19px;*/
  /*font-size: 11px;*/
  /*text-align: center;*/
  /*color: #000000;*/
  /*position: absolute;*/
  /*margin-top: 30px;*/
/*}*/

/*SLIDER!!!*/
.topImage {
  width: 100%;
  height: 400px;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  position: relative;
  opacity: 0;
}

.show {
  opacity: 1;
}

/*datapicker  */

.searchIcone {
  cursor: pointer;
}

.search {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: #FCFCFC;
  box-shadow: 0px 4px 25px rgba(0,0,0,0.05);
}

.searchItem {
  width: 50%;
  height: 37%;
}

.searchItem > div > div {
  cursor: pointer;
}

.searchIcone {
  height: 71px;
  background-color: #53D7B7;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.searchItem p {
  font-family: 'Roboto', sans-serif!important;
  font-weight: bold;
  line-height: 27px;
  font-size: 16px;
  text-align: end;
  color: #000000;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.searchItem > div {
  justify-content: center;
  align-items: flex-end;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.searchItem .day {
  font-size: 34px;
  text-transform: uppercase;
  line-height: 34px;
  font-weight: bold;
  color: black;
}

.searchItem .month {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 14px;
  margin: 0 5px 2px 5px;
}

.searchItem .year {
  font-size: 17px;
  text-transform: uppercase;
  line-height: 17px;
  font-weight: bold;
  color: #C4C4C4;
  margin-bottom: 2px;
}
.helper{
  display: flex;
  justify-content: flex-end;
}
.searchItem:nth-child(1) .year {
  margin-right: 10px;
}

.searchItem:nth-child(2) .day {
  margin-left: 10px;
}

.searchItem:nth-child(3), .searchItem:nth-child(4), .searchItem:nth-child(5) {
  width: 31%;
  height: 45%;
  text-align: center;
}

.searchItem:nth-child(1) .numbers {
  margin-left: 8%;
}

.searchItem:nth-child(1) p, .searchItem:nth-child(2) p {
  margin-top: 22px;
  margin-right: 27%;
}

.searchItem:nth-child(1) .numbers, .searchItem:nth-child(2) .numbers {
  width: 71% !important;
  display: flex;
  justify-content: space-around;
}

.searchItem:nth-child(3) p, .searchItem:nth-child(4) p, .searchItem:nth-child(5) p {
  text-align: center;
}

.searchItem:nth-child(3) div, .searchItem:nth-child(4) div, .searchItem:nth-child(5) div {
  display: flex;
  align-items: center;
}

.searchItem:nth-child(6) {
  align-items: center;
  width: 100%;
  height: 71px;
  display: flex;
  justify-content: center;
  margin-top: 1px;
}
img{
  padding: 28px 28px;
}

.searchItem:nth-child(6) p {
  /*font-family: Raleway;*/
  /*margin: 0;*/
  /*font-weight: 800;*/
  /*font-size: 22px;*/
  font-family: 'Raleway' , sans-serif!important;
  font-weight: 800;
  line-height: 26px;
  margin-bottom: -2px;
  font-size: 22px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
}


.searchItem .roomsNumber {
  font-family: 'Raleway', sans-serif!important;
  font-weight: 800;
  font-size: 35px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
  margin: 0 23px 0 23px;
}

.searchItem > div > svg {
  margin-bottom: 9px;
}

.form-control {
  width: 0;
  height: 0;
  padding: 0;
  border: none !important;
  position: absolute;
  top: 0px;
  left: 30%;
}

/deep/ .theme-green .bs-datepicker-head {
  background-color: #53D7B7;
}

/deep/ .theme-green .bs-datepicker-body table td span.selected, .theme-green .bs-datepicker-body table td.selected span, .theme-green .bs-datepicker-body table td span[class*="select-"]:after, .theme-green .bs-datepicker-body table td[class*="select-"] span:after {
  background-color: #53D7B7;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #5A5A5A;
  margin: 1vh;
}

.dotActive {
  background-color: rgb(255, 255, 255);
}
.dotsContainer {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.searchIcone {
  outline-color: transparent;
}

.BtnBook:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.BtnBook:active {
  background-color: #e1e1e1;
}

.leftSide{
  width: 100%;
  text-align: center;
}
.leftSide P{
  text-align: center;
}

.rightSide{
  height: 71px;
  width: 90px;
  background-color: #53d7b7;
}

/*enddatapicker*/


@media screen and (max-width: 1550px) {
  .place-price {
    width: 9vw;
  }
}
@media screen and (max-width: 1340px) {
  .place-price {
    width: 10vw;
  }
}



@media screen and (max-width: 1240px) {

  .place-price {
    width: 10.5vw;
  }
  .slider {
    height: 330px;
  }

  .topImage {
    height: 330px;
  }

  .data-picker {
    height: 330px;
  }

  .searchItem:nth-child(1) .numbers, .searchItem:nth-child(2) .numbers {
    justify-content: space-around;
    width: 90%;
  }

  .content {
    width: 90%;
  }

  .searchItem:nth-child(1) .numbers, .searchItem:nth-child(2) .numbers {
    width: 100% !important;
  }

  .bottom {
    width: 90%;
  }
  .searchItem[_ngcontent-c4]:nth-child(6){
    margin-top: -11px;
  }

}

@media screen and (max-width: 1120px) {
  .place-price {
    width: 12vw;
  }
}

@media screen and (max-width: 996px) {

  .place-price {
    width: 12.5vw;
  }

  .topImage {
    height: 300px !important;
  }

  .swith {
  }

  .top {
    flex-direction: column;
    margin-top: 10px;
  }

  .bottom {
    width: 100%;
  }

  .slider {
    width: 100%;
    height: 300px !important;
  }

  .main {
    height: 300px;
  }

  .data-picker {
    width: 100%;
    height: auto;
    margin-top: 10px;

  }

  .form-control {
    top: -70%;
    left: 50%;
  }
  .searchItem:nth-child(6){
    margin-top: 30px;
  }



}

@media screen and (max-width: 960px) {
  .place-price {
    width: 13.3vw;
  }
}

@media screen and (max-width: 890px) {
  .place-price {
    width: 14.88vw;
  }
}

@media screen and (max-width: 790px) {
  .place-price {
    width: 16vw;
  }
}

@media screen and (max-width: 760px) {
  .place-price {
    width: 18vw;
  }
}

@media screen and (max-width: 645px) {
  .place-price {
    width: 22vw;
  }
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  .form-control {
    top: -110%;
    left: 50%;
  }

  .place-price {
    width: 27vw;
  }

  .imageRoom {
    margin-top: 2.5%;
  }

  .content {
    width: 100% !important;
  }

  .bottom, .amenity-icons {
    width: 90% !important;
    margin-right: auto;
    margin-left: auto;
  }

  .topImage {
    height: 300px !important;
  }

  .top {
    flex-direction: column !important;
    margin-top: 10px !important;
  }

  .slider {
    width: 100% !important;
    height: 300px !important;
  }

  .main {
    height: 300px !important;
  }

  .data-picker {
    width: 100% !important;
    height: 240px !important;
    margin-top: 10px !important;

  }

  .searchItem {
    height: 30% !important;
  }

  .searchItem:nth-child(1) p, .searchItem:nth-child(2) p {
    margin-top: 3px !important;
  }

  .searchItem:nth-child(3), .searchItem:nth-child(4), .searchItem:nth-child(5) {
    height: 28% !important;
    width: 33% !important;
  }

  p {
    margin-bottom: 0 !important;
  }

  .searchItem .month {
    margin: 0 !important;
  }

  .searchItem:nth-child(1) .numbers, .searchItem:nth-child(2) .numbers {
    width: 93% !important;
  }

  .searchItem .roomsNumber {
    margin: 0 15px 0 15px !important;
  }

  .searchItem .year {
    margin-bottom: 0px !important;
    margin-left: 3px !important;
  }

  .searchItem .day {
    font-size: 25px !important;
  }

  .search {
    align-items: flex-end !important;
  }
}

@media screen and (max-width: 430px) {
  .place-price {
    width: 30vw;
  }
}


