.back{
  width: 5vw;
  height: 5vh;
}



form {
  width: 100%;
  background: #415156;
}

img {
  height: 5%;
  margin-top: 15%;
}

.image-one {
  -webkit-background-size: cover !important;
  background-size: cover !important;
  background-position: center !important;
  height: 30vh;
}

img {
  margin: 0;
  background-color: grey;
  max-height: 17vw;
  min-height: 17vw;
}

.image-wrapper {
  width: 40%;
}
