<div class="align-items-center col-xl-12 col-lg-12 col-md-12 col-sm-12 d-flex flex-column">
  <form [formGroup]="roomForm" (submit)="update(formImage)">
    <h3>Тип номера:</h3>
    <select formControlName="type">
      <option value="STANDARD">STANDART</option>
      <option value="SUPERIOR">SUPERIOR</option>
      <option value="DELUXE">DELUXE</option>
      <option value="STANDARD_IMPROVED">STANDART IMPROVED</option>
      <option value="SUPERIOR_IMPROVED">SUPERIOR IMPROVED</option>
    </select>
    <h3>кількість дитячих місць:</h3>
    <input type="number" formControlName="kidsPlaces" min="0">
    <h3>кількість дорослих місць:</h3>
    <input type="number" formControlName="adultPlaces" min="1">
    <h3>Площа номера:</h3>
    <input type="number" formControlName="square" min="10">
    <h3>Кількість номерів:</h3>
    <input type="number" formControlName="amount" min="0">
    <h3>Ціна:</h3>
    <input type="number" formControlName="price" min="0">
    <h3>Ціна (3 - місний):</h3>
    <input type="number" formControlName="priceThreePlaces" min="0">
    <h3>Ціна (5 - місний):</h3>
    <input type="number" formControlName="priceFifthPlaces" min="0">
    <h3>Ключові слова (SEO):</h3>
    <input type="text" formControlName="keywords" min="0">
    <h3>Опис (SEO):</h3>
    <input type="text" formControlName="description" min="0">

    <div formArrayName="descriptions">
      <div *ngFor="let one of descriptionForms; let i = index">
        <form formGroupName="{{i}}">
          <p>{{one.get('language').value|translate}}</p>
          <!--<input type="text" disabled formControlName="language">-->
          <textarea cols="30" rows="10" formControlName="description"></textarea>
        </form>
      </div>
    </div>
    <div class="d-flex flex-column">
      <h2>Зручності:</h2>
      <div *ngFor="let one of amenities;let i = index">
        <div>{{one.get('id').value}}</div>
        <div>{{getControls(one.get('amenityNames'))['0'].controls['name'].value}}</div>
        <div class="back" [style.backgroundImage]="'url(' + (one.get('imagePath').value|imagePipe) + ')'"></div>
        <button (click)="deleteAmenity(one.get('id').value)">Delete</button>
      </div>
    </div>
    <hr>
    <div *ngFor="let one of availableAmenities">
      <div>{{one.id}}</div>
      <div>{{one.amenityNames[0].name}}</div>
      <div class="back" [style.backgroundImage]="'url(' + (one.imagePath|imagePipe) + ')'"></div>
      <button (click)="addAmenity(one.id)">add</button>
    </div>
    <div class="image-wrapper d-flex  flex-wrap">
      <div *ngFor="let one of room.images" class="image-one d-flex align-items-end justify-content-center"
           [style.background]="'url(' + (one.path|imagePipe) + ')'">
        <button (click)="delete(room.id, one.id, one)" class="image-button">Видалити</button>
      </div>
      <div [ngClass]="{'kaka' :appear}" *ngFor="let one of image" class="image">
        <img [src]="one" alt="" *ngIf="(isNull(one))">
      </div>
      <br>
    </div>


    <form #formImage class="d-flex justify-content-center">
      <input (change)="readUrl($event)" accept="image/*" multiple id="file" type="file" class="d-none"
             name="multipartFiles">
      <label for="file" class="image-button"> AddImage</label>
    </form>
    <button type="submit" class="image-button" [disabled]="!roomForm.valid">Оновити кімнату</button>
  </form>
</div>

