.header {
  height: 56px;
  margin: auto;
}

.navbar {
  height: 56px;
  padding-top: 0;
  padding-bottom: 0;
}

.dropdown:hover > .dropdown-menu, .dropdown:focus > .dropdown-menu {
  display: block;
  padding: 0;
  width: 109px;
  margin-left: -17px;
}

.dropdown-menu {
  border: none;
  background-color: white!important;
  min-width: 5rem;
  margin: 0;
  padding-top: 15px!important;
  font-size: 12px;
  font-family: 'Roboto',sans-serif!important;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.dropdown-menu a{
  word-wrap: break-word;
  white-space: unset;
}


.dropdown-menu > a:active {
  color: #53D7B7!important;
}

.nav-link {
  padding-top: 0;
  padding-bottom: 0;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Roboto', sans-serif!important;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 25px;
  cursor: pointer;
}

.navbar-collapse {
  padding: 20px 0px 16px 0px;
}

.nav a {
  font-family: Roboto;
  font-size: 12px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
}

.navbar-light .navbar-nav {
  margin-right: 10px;
}

.navbar-light .navbar-nav .nav-link {
  color: black !important;
}

.wrapper {
  display: none;
}

a:hover {
  text-decoration: none;
}

.nav {
  width: 80%;
  margin-right: 5%;
}

.langs a {
  font-family: 'Roboto', sans-serif!important;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #5A5A5A;
  cursor: pointer;
}

.langs a:hover, .langs .active {
  border-bottom: 1px solid #53D7B7 !important;
}

.logo {
  cursor: pointer;
  outline: 0;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link:hover {
  color: #53D7B7!important;
}

.service{
  font-size: 12px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 7px;
}

.service:hover{
  color: #53D7B7!important;
}

.dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover {
  background-color: white;
  color: #53D7B7!important;
}
.dropdown-item{
  color: #5a5a5a;
  font-weight: 300;
}

.header {
  height: 10vh;
  width: 80%;
  margin: auto;
}

.nav a {
  font-family: 'Roboto', sans-serif!important;
  font-size: 12px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
}

.dropdown-toggle::after {
  border: none !important;
  cursor: pointer;
}

.nav {
  width: 80%;
  margin-right: 5%;
}

.langs {
  width: 10%;
}

.navbar {
  position: relative;
}

.helperKostik{
  display: none;
}

@media screen and (max-width: 1100px) {

  .header {
    width: 90%;
  }

}

@media screen and (max-width: 990px) {
  .navbar-toggler {
    margin: 8px;
    outline: none !important;
    border-radius: 0;
  }

  .helperKostik{
     display: block;
     opacity: 0;
     width: 32px;
     height: 32px;
     margin: 8px;
   }

  .nav-link {
    margin-left: 25px;
  }

  .navbar-light .navbar-nav {
    margin-right: 0px !important;
  }
  .dropdown[_ngcontent-c2]:hover > .dropdown-menu[_ngcontent-c2], .dropdown[_ngcontent-c2]:focus > .dropdown-menu[_ngcontent-c2] {
    display: block;
    padding: 0;
    width: 105%;
    margin-left: -17px;
  }
  .dropdown-menu[_ngcontent-c2] > a[_ngcontent-c2] {
    width: 85%;
  }


  .navbar-collapse {
    position: absolute !important;
    top: 65px !important;
    width: 100%;
    z-index: 1000 !important;
    border-bottom: 1px solid #5A5A5A;
    background-color: #F8F6F6;

  }

  .navbar-collapse > ul > li > a {
    border-bottom: 1px solid #5A5A5A;
    font-size: 20px;
    padding: 5px 0 10px 5px;
  }

  .dropdown-menu > a {
    font-size: 17px !important;
    width: 78%;
    border-bottom: 1px solid black;
    margin: 3px 0px 3px 40px;
    cursor: pointer;
  }

  .dropdown-menu > a:active {
    background-color: #F8F6F6;
  }

  svg {
    margin-bottom: 4px !important;
    margin-top: 4px !important;
  }

  .langs {
    margin-left: 20px;
  }

  .langs a {
    padding: 10px;
    margin: 5px !important;

  }

  .dropdown-manu{
    width: 100%;
  }
  .dropdown-menu > div {
    border: none;
  }

  .dropdown-menu > div > a {
    font-size: 20px;
    padding: 5px 0 10px 45px;
    background-color: #F8F6F6;
  }
}

#dropdownBasic1 {
  cursor: pointer;
}

@media screen and (max-width: 765px) {

  .navbar {
    padding-left: 0px;
  }

  .navbar-collapse {
    top: 55px !important;
  }

}

@media screen and (max-width: 645px) {

  .helperKostik{
    display: block;
    opacity: 0;
    width: 32px;
    height: 32px;
    margin: 8px;
  }

  .logo img{
    margin-right: 0px;
  }

  .header {
    flex-direction: column;
    height: auto;
  }

  .nav {
    flex-direction: column;
    text-align: center;
    width: 50%;
    margin-right: 0 !important;
    border-right: 1px solid black;
    padding-top: 5vh;
    padding-bottom: 2.5vh;
  }

  .nav a {
    font-size: 19px;
    margin: 2vh 0;
    text-decoration: underline;
  }

  .header img {
    padding: 5vh;
  }

  .bigNav {
    width: 100%;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

}

.back {
  height: 56px;
  background-color: white !important;
  position: fixed;
  z-index: 100000000000000;
  width: 100%;
  /* -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);;
  -moz-box-shadow:  0 0 10px 2px rgba(0, 0, 0, 0.2);
  box-shadow:  0 0 10px 2px rgba(0, 0, 0, 0.2); */
}

@media screen and (min-width: 576px) and (max-width: 645px){

  .container {
    max-width: 100%;
  }

}
