<div class="hundred align-items-center col-xl-6 col-lg-6 col-md-12 col-sm-12 d-flex flex-column">
  <br><br>
  <form [formGroup]="tariffForm" (submit)="update()">
  <h3>Тип тарифу:</h3>
  <select formControlName="tariffType" >
    <option value="REGULAR">REGULAR</option>
    <option value="SPECIAL">SPECIAL</option>
  </select>

  <h3>Ціна:</h3>
  <input type="number" formControlName="price" min="1">

  <h3>Початок тарифу(дата)</h3>
  <input type="date"  formControlName="dateFrom">
  <h3>Кінець тарифу(дата)</h3>
  <input type="date" formControlName="dateTo">

  <h3>Тип номера:</h3>
  <select  formControlName="roomType">
    <option value="STANDARD">STANDARD</option>
    <option value="SUPERIOR">SUPERIOR</option>
    <option value="DELUXE">DELUXE</option>
    <option value="STANDARD_IMPROVED">STANDARD IMPROVED</option>
    <option value="SUPERIOR_IMPROVED">SUPERIOR IMPROVED</option>
  </select>


    <div class="wrapper" data-title="Заповніть всі поля">
      <button type="submit" [disabled]="!tariffForm.valid ">update tariff</button>
    </div>

  </form>


</div>
