<form action="" (submit)="addServices(form)" #form [formGroup]="servicesForm">
  <div>
    <div class="text">
      <ng-container formArrayName="serviceDescriptions">
        <ng-container *ngFor="let one of descriptionForms;let i = index" formGroupName="{{i}}">
          <h3>{{one.value.language|translate}}</h3>
          <div class="row">
            <div class="col-lg-1">
              <h5>Назва новини</h5>
            </div>
            <div class="col-lg-11">
        <textarea type="text"
                  formControlName="title"
                  class="w-100" style="height: 30px"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-1">
              <h5>Заголовок</h5>
            </div>
            <div class="col-lg-11">
        <textarea
          formControlName="headerText"
          class="w-100" style="height: 80px"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-1">
              <h5>Опис</h5>
            </div>
            <div class="col-lg-11">
        <textarea
          formControlName="mainText"
          class="w-100" style="height: 150px"></textarea>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <div class="row">
        <div class="col-lg-11">
          <input type="checkbox"
                 formControlName="showOnTop">
        </div>
        <div class="col-lg-1">
          <h5>Показувати</h5>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="image" class="image">
    <img [src]="image" alt="" class="w-100">
  </div>
  <br>
  <div class="row">
    <div class="button-block">
      <div class="col-lg-3"></div>
      <div class="col-lg-3">
        <input (change)="readUrl($event)" formControlName="multipartFile" accept="image/*" id="file2" type="file"
               class="d-none" name="multipartFile">
        <label for="file2" class="addImage">Додати картинку</label>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-3">
        <button class="button" [disabled]="servicesForm.invalid" type="submit">Зберегти сервіс</button>
      </div>
      <div class="col-lg-2"></div>
    </div>

  </div>
</form>


