body{
}
.contact-content{
  width: 69%;
  margin: auto;
}

.contact-wrapper{
  background-color: #F8F6F6;
}
.title h2{
  text-align: center;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 36px;
  padding: 4% 0 4% 0;

  color: #5A5A5A;
}
.info{
  display: flex;
  padding-bottom: 3%;
}

.address{
  width: 33.3%;
  justify-content: center;
  display: block;
}
.phone{
  width: 33.3%;
  justify-content: center;
  display: block;


}
.mail{
  width: 33.3%;
  justify-content: center;
  display: block;
}
.image{
  width: 100px;
  margin: auto;
}
.wrapper-svg{
}
.svg{
  left: 30px;
  top: -67px;
}
.address-title{
  padding-bottom: 8%;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 24px;

  color: rgba(90, 90, 90, 0.41);
}
.text{
  width: 80%;
  text-align: center;
  margin:auto;
}
.normal-text{
  /*margin-top: 8%;*/
  margin: 0;
  padding-bottom: 1%;
  padding-top: 1%;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  font-size: 14px;
  text-align: center;

  color: #000000;
}
.bold-text {
  margin: 0;
  padding-bottom: 1%;
  padding-top: 1%;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 15px;

  color: #000000;

}
.phone{
  height: auto;

 }
.social{
  display: flex;
  justify-content: center;
}
.social-icons{
  margin-left: 2%;
}
a{
  text-decoration: none;
}
.feedback-content{
  padding:7% 0 7% 0;
  width: 69%;
  display: flex;
  margin: auto;
}
.feedback-wrapper{
  background-color: #F8F6F6;
  margin-top: 4px;
}
.left-side{
width: 40%;
}
.right-side{
  margin-left: 10%;
width: 50%;
}
.feedback-small-title{
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 15px;
  width: 50%;
  min-height: 7%;
  height: auto;
  border-bottom: 2px solid #53D7B7;
  text-transform: uppercase;

  color: #000000;
}
.feedback-big-title{
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 36px;

  color: #000000;
}
.feedback-text{
  font-style: normal;
  font-weight: 300;
  line-height: 27px;
  font-size: 16px;
  margin-top: 5%;

  color: #5A5A5A;
}
.first-inputs-block{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5%;

}

.right-input{
  width: 100%;

}
.left-input{
  width: 100%;
}
.first-inputs-block input{
  width: 90%;
}
.second-inputs-block{

}
.second-inputs-block input{
  width: 45%;
  margin-bottom: 2%;
}
input{
  background: rgba(83, 215, 183, 0.01);
  border: 1px solid rgba(83, 215, 183, 0.78);
  box-sizing: border-box;
  height: 35px;
  outline: none;

}
textarea{
  background: rgba(83, 215, 183, 0.01);
  border: 1px solid rgba(83, 215, 183, 0.78);
  box-sizing: border-box;
  resize: none;
  width: 95%;
  outline: none;
}
.right-side p{
  margin: 0;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  font-size: 11px;
  text-transform: uppercase;

  color: rgba(90, 90, 90, 0.53);
}
button{
  margin-top: 4%;
  width: 112px;
  height: 35px;
  background: #53D7B7;
  border: 1px solid #53D7B7;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 11px;

  color: #FFFFFF;
}
.location-title{
  text-align: center;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 30px;


}
.down-image-wrapper{
  margin: auto;
  width: 100px;
  height: 110px;
}

.location-content{
  width: 69%;
  margin: auto;
}
.location-images{
  display: flex;
  margin: auto;
  justify-content: center;
}
.images{
  width: 18%;
  display: block;
  justify-content: center;
}
.little-image{
  position: relative;
  left: 30px;
  top: -70px;
}
.image2{
  left: 31px;
  top: -78px;
}
.image3{
  left: 31px;
  top: -78px;
}
.image4{
  left: 26px;
  top: -78px;
}
.image5{
  left: 26px;
  top: -78px;
}
.location-images p{
  text-align: center;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;

  color: #C4C4C4;
  /*border-bottom: 2px solid #53D7B7;*/


}
.description{
  margin-top: 30px;
  margin-bottom: 30px;
}
.description p{
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 16px;

  color: #5A5A5A;
}
#airportWay{
  display: block;
}

@media screen and (max-width:768px){
    .info{
      flex-direction: column;
    }
  .address{
    width: 100%;
  }
  .phone{
    width: 100%;
    padding-top: 8%;
  }
  .mail{
    width: 100%;
    padding-top: 8%;

  }
  .contact-content{
    width: 100%;
  }
  .feedback-content{
    flex-direction: column;
  }
  .left-side{
    width: 100%;
  }
  .feedback-content{
    width: 100%;
    padding-left: 2%;
  }
  .right-side{
    width: 100%;
    margin: inherit;
  }
  .location-content{
    width: 100%;
  }
  .images{
    transform: scale(0.8);
    width: 33%;
    cursor: pointer;
  }
  .location-images{
    flex-wrap: wrap;
  }

}
