
<div class="main">
  <div class="contact-wrapper">
    <div class="contact-content">
      <div class="title">
        <h2>
          {{ 'test-value' | translate}}
        </h2>
      </div>
      <div class="info">
        <div class="address">
          <div class="image">
            <img class="wrapper-svg" src="../../../../assets/svg/Group%202-2.svg" alt="">
          </div>
          <div class="text">
            <div class="address-title">Адреса</div>
            <p class="normal-text">All of this text is editable. Simply click anywhere in the paragraph or heading text an</p>
            <p class="bold-text">м. Львів, вул. Богданівська, 44</p>
          </div>

        </div>
        <div class="phone">
          <div class="image">
            <img class="wrapper-svg" src="../../../../assets/svg/Group.svg" alt="">

          </div>
          <div class="text">
            <div class="address-title">Телефон</div>
            <p class="normal-text">All of this text is editable. Simply click anywhere in the paragraph or heading text an</p>
            <div class="social">
              <p class="bold-text">+38 067 19 444 00</p>
              <div class="social-icons">
                <a href="">
                  <img src="../../../../assets/svg/viber.svg" alt="">
                </a>
                <a href="">
                  <img src="../../../../assets/svg/telegram.svg" alt="">
                </a>
                <a href="">
                  <img src="../../../../assets/svg/whatsapp.svg" alt="">
                </a>
              </div>
            </div>

            <p class="normal-text">All of this text is editable. Simply click </p>
            <p class="bold-text">+38 032 291 78 74</p>
            <p class="normal-text">All of this text is editable. Simply click </p>
            <p class="bold-text">+38 093 43 444 00</p>
          </div>
        </div>
        <div class="mail">
          <div class="image">
            <img class="wrapper-svg" src="../../../../assets/svg/Group%202-3.svg" alt="">
          </div>
          <div class="text">
            <div class="address-title">Пошта</div>
            <p class="normal-text">All of this text is editable. Simply click anywhere in the paragraph or heading text an</p>
            <p class="bold-text">palmalviv@gmail.com</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="feedback-wrapper">
    <div class="feedback-content">
      <div class="left-side">
        <div class="feedback-small-title">Зворотній зв'язок</div>
        <div class="feedback-big-title">Напишіть Нам</div>
        <div class="feedback-text">
          <p>You can copy and paste your own content in to see what it looks like with these font combinations. All of this text is editable. Simply click anywhere in the p</p>
          <p>You can copy and paste your own content in to see what it looks like with these font combinations. All of this text is editable. Simply click anywhere in the p</p>
        </div>
      </div>
      <form [formGroup]="callbackForm" class="right-side" (submit)="sendMessage()">
        <div class="first-inputs-block">
          <div class="left-input">
            <p>Ім'я</p>
            <input type="text" formControlName="name">
          </div>
          <div class="right-input">
            <p>Телефон</p>
            <input type="text" formControlName="phone" [ngClass]="{'invallid':callbackForm.get('phone').invalid && callbackForm.get('phone').dirty}">
          </div>
        </div>
        <div class="second-inputs-block">
          <p>E-mail</p>
          <input type="text" formControlName="email" [ngClass]="{'invallid':callbackForm.get('email').invalid && callbackForm.get('email').dirty}" >

        </div>
        <div class="textarea-block">
          <p>Повідомлення</p>
          <textarea name="" id="" cols="30" rows="10" formControlName="message"></textarea>
        </div>

        <button [disabled]="callbackForm.invalid" type="submit">Надіслати</button>
      </form>
    </div>
  </div>
  <div class="location-wrapper">
    <div class="location-content">
      <div class="location-title">
        <p>Як дістатися до готелю</p>
      </div>
      <div class="location-images-wrapper">
        <div class="location-images">
          <div class=" images plain-image-block" (click)="changeWay('airport')" >
            <div class=" down-image-wrapper"  id="elem">
              <img src="../../../../assets/svg/green-ellipse.svg" alt="" >
              <img  class="little-image image1" src="../../../../assets/svg/airplane.svg" alt="">
            </div>

            <p [ngClass]="{'green-border':currentWay.includes('airport')}">Аеропорт</p>
          </div>
          <div class="images station-image-block" (click)="changeWay('station')">
            <div class=" down-image-wrapper">
              <img src="../../../../assets/svg/green-ellipse.svg" alt="">
              <img class="little-image image2" src="../../../../assets/svg/station.svg" alt="">
            </div>

            <p [ngClass]="{'green-border':currentWay.includes('station')}">Головний Вокзал</p>
          </div>
          <div class="images bus-image-block" (click)="changeWay('bus')">
            <div class=" down-image-wrapper">
              <img src="../../../../assets/svg/green-ellipse.svg" alt="">
              <img  class="little-image image3" src="../../../../assets/svg/bus.svg" alt="">
            </div>

            <p [ngClass]="{'green-border':currentWay.includes('bus')}">Автобус</p>
          </div>
          <div class=" images square-image-block" (click)="changeWay('square')">
            <div class=" down-image-wrapper">
              <img src="../../../../assets/svg/green-ellipse.svg" alt="">
              <img class="little-image image4" src="../../../../assets/svg/square.svg" alt="">
            </div>

            <p [ngClass]="{'green-border':currentWay.includes('square')}">Площа Ринок</p>
          </div>
          <div class=" images castle-image-block "  (click)="changeWay('castle')">
            <div class=" down-image-wrapper">
              <img src="../../../../assets/svg/green-ellipse.svg" alt="">
              <img  class="little-image image5" src="../../../../assets/svg/castle.svg" alt="">
            </div>

            <p [ngClass]="{'green-border':currentWay.includes('castle')}">Станція “Підзамче”</p>
          </div>
        </div>

      </div>
      <div  class="description" >
        <p>How to dobratusya</p>
        <p class="airportWay" id="airportWay">{{currentWay|translate}}</p>
      </div>

    </div>
      <div class="map-wrapper">
        <agm-map [latitude]="latitude" [longitude]="longitude" (mapClick)="onChoseLocation($event)"[zoom]="13" lang="" >
          <agm-marker [latitude]="latitude" [longitude]="longitude">
          </agm-marker>
        </agm-map>
      </div>
  </div>


</div>

