<div class="content">
  <div class="title">
    <h2>
      Contacts
    </h2>
  </div>
  <div class="info">
    <div class="address">
      <img src="" alt="">
      <div class="address-title"></div>
      <p class="normal"></p>
      <p class="bold"></p>
    </div>
    <div class="phone">
      <img src="../../../../assets/svg/green-ellipse.svg" alt="">
      <img  src="../../../../assets/svg/green-pointer.svg" alt="">
      <div class="address-title"></div>
      <p class="normal"></p>
      <p class="bold"></p>
    </div>
    <div class="mail">
      <img src="" alt="">
      <div class="address-title"></div>
      <p class="normal"></p>
      <p class="bold"></p>
    </div>
  </div>

</div>
