.allIn h2 {
  user-select: none;
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: 500;
  line-height: 20px;
  font-size: 12px;
  color: #53D7B7;
  margin-top: 7%;
}

.allIn h3 {
  user-select: none;
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: bold;
  line-height: 21px;
  font-size: 14px;
  text-align: left;
  color: #5A5A5A;
}

.topImage {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  position: relative;
  border: 0.5px solid #E5E5E5;
  box-sizing: border-box;
}

.allIn {
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}

.relka {
  position: relative;
}

.sliderBlock {
  align-items: center;
}

.first {
  width: 20.2vw;
  height: 419px;
  transition: 0.3s ease-in-out;

}

.second {
  left: 50%;
  top: 42%;
  transform: translate(-50%, -50%);
  z-index: 2;
  position: absolute;
  width: 21vw;
  margin: auto;
  height: 463px;
}

.lefty {
  padding-left: 31%;
}

.swith:hover {
  opacity: 0.95;
  cursor: pointer;
}

.greenAbs {
  left: 50%;
  top: 42%;
  transform: translate(-50%, -50%);
  z-index: 3;
  position: absolute;
  width: 21vw;
  margin: auto;
  height: 463px;
  background: rgba(83, 215, 183, 0.74);
}

.greenAbs h2 {
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
  position: absolute;
  font-family: Raleway,sans-serif;
  font-weight: 800;
  font-size: 21px;
  color: #FFFFFF;
  text-align: center;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}

.greenAbs p {
  user-select: none;
  position: absolute;
  font-family: Roboto;
  font-weight: 300;
  line-height: 25px;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.greenAbs:first-letter {
  font-size: 200%; /* Размер шрифта первого символа */
}

.greenAbs img {
  user-select: none;
  position: absolute;
  left: 50%;
  top: 70%;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1230px) {
  .greenAbs p {
    top: 60% !important;
  }
}

@media screen and (max-width: 965px) {
  .greenAbs p {
    top: 65% !important;
  }
}
