<div class="header d-flex flex-row justify-content-around">
  <div>Дата</div>
  <div>Тип номера</div>
  <div>Заброньовані</div>
  <div>Вільні</div>
  <div>Змінити</div>
</div>
<div>
  <div *ngFor="let one of schedule" class="items d-flex ">
      <div class="itemChild">{{one.today|datePipe}}</div>
      <div class="itemChild">{{one.roomType}}</div>
      <div class="itemChild">{{one.forSale}}</div>
      <div class="itemChild">{{one.active}}</div>
      <div class="itemChild">{{one.free}} <button type="button" class="btn btn-info" routerLink="{{one.id}}">Змінити</button></div>
  </div>
</div>
