<div>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Дата</th>
      <th scope="col">Тип номера</th>
      <th scope="col">Доступні</th>
      <th scope="col">Заброньовані</th>
      <th scope="col">Вільні</th>
      <th scope="col">Змінити</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let one of schedule" class="mt-3">
      <td scope="row">{{one.today|datePipe}}</td>
      <td>{{one.roomType}}</td>
      <td>{{one.forSale}}</td>
      <td>{{one.active}}</td>
      <td>{{one.free}}</td>
      <td>
        <button type="button" class="btn btn-info" routerLink="{{one.id}}">Змінити</button>
      </td>
    </tr>
    <br>
    </tbody>
  </table>
</div>
