<div class="back mt-3">
  <div class="d-flex flex-row flex-wrap justify-content-sm-around">
    <div class="hundred align-items-center col-xl-3 col-lg-4 col-md-4 col-sm-6 d-flex flex-column " *ngFor="let one of news">
      <div class="img"  [style.background-image]="'url(' + (one.picturePath|imagePipe) + ')'" routerLink="{{one.id}}"></div>
      <h3 routerLink="{{one.id}}">{{one.newsDescriptions['current-language-index' | translate].title}}</h3>
      <p routerLink="{{one.id}}">{{one.dateTime}}</p>
      <button (click)="deleteNews(one.id)"> Видалити</button>
    </div>
  </div>
</div>
