/*.invalid{*/
  /*border: 1px solid red!important;*/
/*}*/

input.ng-valid{
  border-left: 5px solid green;
}
input.ng-invalid{
  border-left: 5px solid red;
}
button:disabled{
  border-bottom: 3px solid red;
 }
p{
  margin: 2% 0 0 0;
  text-align: center;
}
label{
  margin: 2% auto 2% auto;
  background: #53D7B7;
  border: 1px solid #53D7B7;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Raleway sans-serif;
  font-weight: bold;
  line-height: 35px;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  width: 30%;
  height: 36px;
  cursor: pointer;
  vertical-align: middle;

}
button{
  height: 50px;
  width: 30%;
  margin: auto;
  background-color: #fff;
}
.content{
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
