<form action="" (submit)="addAmenity(form)" #form [formGroup]="amenityForm">
  <div class="content">
    <div>
      <h3>Англійська</h3>
      <input type="text" #nameEn
             class="w-100" style="height: 30px"
             formControlName="nameEn"
             [ngClass]="{'invalid':amenityForm.get('nameEn').invalid && amenityForm.get('nameEn').dirty}">
    </div>
    <div>
      <h3>Українська</h3>
      <input type="text" #nameUk
             class="w-100" style="height: 30px"
             formControlName="nameUk"
             [ngClass]="{'invalid':amenityForm.get('nameUk').invalid && amenityForm.get('nameUk').dirty}">
    </div>
    <div>
      <h3>Польська</h3>
      <input type="text" #namePl
             class="w-100" style="height: 30px"
             formControlName="namePl"
             [ngClass]="{'invalid':amenityForm.get('namePl').invalid && amenityForm.get('namePl').dirty}">
    </div>
    <div>
      <h3>Російська</h3>
      <input type="text" #nameRu
             class="w-100" style="height: 30px"
             formControlName="nameRu"
             [ngClass]="{'invalid':amenityForm.get('nameRu').invalid && amenityForm.get('nameRu').dirty}">
    </div>
    <div *ngIf="image" class="image">
      <img [src]="image" alt="" class="w-100">
    </div>
    <input (change)="readUrl($event)" formControlName="multipartFile" accept="image/*" multiple id="file1" type="file"
           class="d-none" name="multipartFile">
    <label for="file1" class="addImage">Додати зображення</label>
    <button class="button" type="submit" [disabled]="amenityForm.invalid">Зберегти зручності</button>
  </div>

</form>
