<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
          (click)="toggleState()">
    <span class="navbar-toggler-icon" *ngIf="isIn"></span>
    <svg *ngIf="!isIn"  width="30" version="1.1" height="20" viewBox="0 0 64 64" enable-background="new 0 0 64 64">
      <g>
        <path fill="#1D1D1B" d="M28.941,31.786L0.613,60.114c-0.787,0.787-0.787,2.062,0,2.849c0.393,0.394,0.909,0.59,1.424,0.59   c0.516,0,1.031-0.196,1.424-0.59l28.541-28.541l28.541,28.541c0.394,0.394,0.909,0.59,1.424,0.59c0.515,0,1.031-0.196,1.424-0.59   c0.787-0.787,0.787-2.062,0-2.849L35.064,31.786L63.41,3.438c0.787-0.787,0.787-2.062,0-2.849c-0.787-0.786-2.062-0.786-2.848,0   L32.003,29.15L3.441,0.59c-0.787-0.786-2.061-0.786-2.848,0c-0.787,0.787-0.787,2.062,0,2.849L28.941,31.786z"/>
      </g>
    </svg>
  </button>
  <div class="navbar-collapse" id="navbarNav" [ngClass]="{ 'collapse': isIn }">
    <ul class="navbar-nav"  (click)="toggleState()">
      <li class="nav-item svg1" *ngIf="user.role == 'ADMIN'">

        <a class="nav-link" href="#" [routerLinkActive]="['active']"
           routerLink="main-update">
          <img src="../../../../assets/svg/home.svg" alt="">Головна</a>
      </li>
      <li class="nav-item svg2">

        <a class="nav-link" href="#" [routerLinkActive]="['active']"
           routerLink="tariff">
          <img src="../../../../assets/svg/checklist.svg" alt="">Тарифи</a>
      </li>
      <li class="nav-item svg3" *ngIf="user.role == 'ADMIN'" >

        <a class="nav-link" href="#" [routerLinkActive]="['active']"
           routerLink="room">
          <img src="../../../../assets/svg/bed.svg" alt="">Номери</a>
      </li>
      <li class="nav-item svg4" *ngIf="user.role == 'ADMIN'">

        <a class="nav-link" href="#" [routerLinkActive]="['active']"
           routerLink="services">
          <img src="../../../../assets/svg/bell.svg" alt="">Послуги</a>
      </li>
      <li class="nav-item svg5" *ngIf="user.role == 'ADMIN'">

        <a class="nav-link" href="#" [routerLinkActive]="['active']"
           routerLink="amenity">
          <img src="../../../../assets/svg/room-service.svg" alt="">Зручності</a>
      </li>
      <li class="nav-item svg6" *ngIf="user.role == 'ADMIN'">

        <a class="nav-link" href="#" [routerLinkActive]="['active']"
           routerLink="news">
          <img src="../../../../assets/svg/folded-newspaper.svg" alt="">Новини</a>
      </li>
      <li class="nav-item svg7" *ngIf="user.role == 'ADMIN' ">
        <a class="nav-link" href="#" [routerLinkActive]="['active']"
           routerLink="proposal-update">
          <img src="../../../../assets/svg/hot.svg" alt="">Пропозиції</a>
      </li>
      <li class="nav-item svg7" *ngIf="user.role == 'ADMIN' ">
        <a class="nav-link" href="#" [routerLinkActive]="['active']"
           routerLink="user">
          <img src="../../../../assets/svg/user.svg" alt="">User</a>
      </li>
      <!--<li class="nav-item svg7" [disabled]="disablings()">-->
        <!--<a class="nav-link" href="#" [routerLinkActive]="['active']"-->
           <!--routerLink="proposal-update">-->
          <!--<img src="../../../../assets/svg/hot.svg" alt="">Пропозиції</a>-->
      <!--</li>-->
    </ul>
  </div>
</nav>
    <router-outlet></router-outlet>

