.topPhotos{
  height: 70vh;
  background: black;
}
.first h2{
  font-family: Raleway;
  font-weight: 800;
  font-size: 24px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 9%;
}
.first h3{
  font-family: Roboto;
  font-weight: 900;
  font-size: 12px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 9%;
  margin-bottom:3vh;
}
.second h2, .third h2{
  font-family: Raleway;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 3%;
}
.second h3,.third h3{
  font-family: Roboto;
  font-weight: 900;
  font-size: 10px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left:3%;
  margin-bottom: 3vh;
}
.first{
  width: 50%;
}
.second{
  width: 20%;
}
.third{
  width: 30%;
}
.one{
  background-image:url("../../../../../src/assets/png/11.jpg");
}
.two{
  background-image:url("../../../../../src/assets/png/22.jpg");
}
.three{
  background-image:url("../../../../../src/assets/png/33.jpg");
}
.four{
  background-image:url("../../../../../src/assets/png/44.jpg");
}
.five{
  background-image:url("../../../../../src/assets/png/55.jpg");
}
.six{
  background-image:url("../../../../../src/assets/png/66.jpg");
}
.one,.two,.three,.four,.five,.six{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50%;
}

.back1,.back2,.back3,.back4,.back5,.back6{
  width: 30vw;
  height: 30vh;
}
.back1{
  background-image:url("../../../../../src/assets/png/11.jpg");
}
.back2{
  background-image:url("../../../../../src/assets/png/22.jpg");
}
.back3{
  background-image:url("../../../../../src/assets/png/33.jpg");
}
.back4{
  background-image:url("../../../../../src/assets/png/44.jpg");
}
.back5{
  background-image:url("../../../../../src/assets/png/55.jpg");
}
.back6{
  background-image:url("../../../../../src/assets/png/66.jpg");
}
.back1,.back2,.back3,.back4,.back5,.back6{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
