<div *ngIf="news && news.length>0" class="topPhotos d-flex ">
  <div class="first d-flex flex-row flex-wrap">
    <div  *ngFor="let one of news" [style.background-image]="'url(' + (one.picturePath|imagePipe) + ')'" class="one d-flex justify-content-end flex-column">
      <div class="d-flex justify-content-center">
        <button routerLink="{{one.id}}"  class="button">Переглянути</button>
      </div>
      <h2>{{one.newsDescriptions['current-language-index' | translate].title}}</h2>
      <h3>{{one.dateTime|datePipe}}</h3>
    </div>
  </div>
</div>
<div class="newsBack">
  <div class="news">
    <h2>Новини</h2>
    <div class="blocks d-flex flex-column">
      <div *ngIf="isNull(news2)" class="firsty flex-wrap d-flex flex-row justify-content-between">
        <div class="item" *ngFor="let one of news2|revers">
          <div class="back1" [style.background-image]="'url(' + (one.picturePath|imagePipe) + ')'"></div>
          <h3 routerLink="{{one.id}}">{{one.newsDescriptions['current-language-index' | translate].title}}</h3>
          <h4>{{one.newsDescriptions['current-language-index' | translate].headerText}}</h4>
          <div class="bott d-flex justify-content-between"><h5>{{one.dateTime |datePipe}}</h5>
            <div class="images">
              <img class="greyShit" src="../../../assets/svg/newsVector.svg" alt="">
              <img class="greenShit" src="../../../assets/svg/greenShit.svg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="center d-flex justify-content-center">
        <button>Більше</button>
      </div>
    </div>
  </div>
</div>

