<div class="topPhotos d-flex ">
  <div class="first d-flex flex-column">
    <div class="one d-flex justify-content-end flex-column">
      <div class="d-flex justify-content-center">
        <button routerLink="article" class="button">Переглянути</button>
      </div>
      <h2>вікенд у львові</h2>
      <h3>31.06.2018</h3>
    </div>
    <div class="two d-flex justify-content-end flex-column">
      <div class="d-flex justify-content-center">
        <button routerLink="article" class="button">Переглянути</button>
      </div>
      <h2>вікенд у львові</h2>
      <h3>31.06.2018</h3>
    </div>
  </div>
  <div class="second d-flex flex-column ">
    <div class="three d-flex justify-content-end flex-column">
      <div class="d-flex justify-content-center">
        <button routerLink="article" class="button">Переглянути</button>
      </div>
      <h2>вікенд у львові</h2>
      <h3>31.06.2018</h3>
    </div>
    <div class="four d-flex justify-content-end flex-column">
      <div class="d-flex justify-content-center">
        <button routerLink="article" class="button">Переглянути</button>
      </div>
      <h2>вікенд у львові</h2>
      <h3>31.06.2018</h3>
    </div>
  </div>
  <div class="third d-flex flex-column">
    <div class="five d-flex justify-content-end flex-column">
      <div class="d-flex justify-content-center">
        <button routerLink="article" class="button">Переглянути</button>
      </div>
      <h2>вікенд у львові</h2>
      <h3>31.06.2018</h3>
    </div>
    <div class="six d-flex justify-content-end flex-column">
      <div class="d-flex justify-content-center">
        <button routerLink="article" class="button">Переглянути</button>
      </div>
      <h2>вікенд у львові</h2>
      <h3>31.06.2018</h3>
    </div>
  </div>
</div>
<div class="newsBack">
  <div class="news">
    <h2>Новини</h2>
    <div class="blocks d-flex flex-column">
      <div *ngIf="isNull(news)" class="firsty d-flex flex-row justify-content-between">


        <div class="item" *ngFor="let one of news|revers" >
          <div class="back1"  [style.background-image]="'url(' + (one.picturePath|imagePipe) + ')'" ></div>
          <h3 routerLink="{{one.id}}" >{{one.newsDescriptions[language | languagePipe].title}}</h3>
          <h4>{{one.newsDescriptions[language | languagePipe].headerText}}</h4>
          <div class="bott d-flex justify-content-between"><h5>{{one.dateTime |datePipe}}</h5><div class="images">
            <img class="greyShit" src="../../../assets/svg/newsVector.svg" alt=""><img class="greenShit" src="../../../assets/svg/greenShit.svg" alt="">
          </div></div>
        </div>



        <!--<div class="item">-->
          <!--<div class="back2"></div>-->
          <!--<h3>All of this text is editable. Simply click anywhere in the paragrap</h3>-->
          <!--<h4>All of this text is editable. Simply click anywhere in the ptent in to see what it looks</h4>-->
          <!--<div class="bott d-flex justify-content-between"><h5>31.06.2018</h5><div class="images">-->
            <!--<img class="greyShit" src="../../../assets/svg/newsVector.svg" alt=""><img class="greenShit" src="../../../assets/svg/greenShit.svg" alt="">-->
          <!--</div></div>-->
        <!--</div>-->
        <!--<div class="item">-->
          <!--<div class="back3"></div>-->
          <!--<h3>All of this text is editable. Simply click anywhere in the paragrap</h3>-->
          <!--<h4>All of this text is editable. Simply click anywhere in the ptent in to see what it looks</h4>-->
          <!--<div class="bott d-flex justify-content-between"><h5>31.06.2018</h5><div class="images">-->
            <!--<img class="greyShit" src="../../../assets/svg/newsVector.svg" alt=""><img class="greenShit" src="../../../assets/svg/greenShit.svg" alt="">-->
          <!--</div></div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="secondy d-flex flex-row justify-content-between">-->
        <!--<div class="item">-->
          <!--<div class="back4"></div>-->
          <!--<h3>All of this text is editable. Simply click anywhere in the paragrap</h3>-->
          <!--<h4>All of this text is editable. Simply click anywhere in the ptent in to see what it looks</h4>-->
          <!--<div class="bott d-flex justify-content-between"><h5>31.06.2018</h5><div class="images">-->
            <!--<img class="greyShit" src="../../../assets/svg/newsVector.svg" alt=""><img class="greenShit" src="../../../assets/svg/greenShit.svg" alt="">-->
          <!--</div></div>-->
        <!--</div>-->
        <!--<div class="item">-->
          <!--<div class="back5"></div>-->
          <!--<h3>All of this text is editable. Simply click anywhere in the paragrap</h3>-->
          <!--<h4>All of this text is editable. Simply click anywhere in the ptent in to see what it looks</h4>-->
          <!--<div class="bott d-flex justify-content-between"><h5>31.06.2018</h5><div class="images">-->
            <!--<img class="greyShit" src="../../../assets/svg/newsVector.svg" alt=""><img class="greenShit" src="../../../assets/svg/greenShit.svg" alt="">-->
          <!--</div></div>-->
        <!--</div>-->
        <!--<div class="item">-->
          <!--<div class="back6"></div>-->
          <!--<h3>All of this text is editable. Simply click anywhere in the paragrap</h3>-->
          <!--<h4>All of this text is editable. Simply click anywhere in the ptent in to see what it looks</h4>-->
          <!--<div class="bott d-flex justify-content-between"><h5>31.06.2018</h5><div class="images">-->
            <!--<img class="greyShit" src="../../../assets/svg/newsVector.svg" alt=""><img class="greenShit" src="../../../assets/svg/greenShit.svg" alt="">-->
          <!--</div></div>-->
        <!--</div>-->
      <!--</div>-->
    </div>
    <div class="center d-flex justify-content-center">
      <button>Більше</button>
    </div>
    <!--<div class="items d-flex flex-wrap flex-row">-->
    <!--<div class="item col">-->
    <!--<div class="back1"></div>-->
    <!--<h3>All of this text is editable. Simply click anywhere in the paragrap</h3>-->
    <!--<h4>All of this text is editable. Simply click anywhere in the ptent in to see what it looks</h4>-->
    <!--<div class="bott d-flex justify-content-between"><h5>31.06.2018</h5><img src="../../../assets/svg/newsVector.svg" alt=""></div>-->
    <!--</div>-->
    <!--<div class="item col">-->
    <!--<div class="back2"></div>-->
    <!--<h3>All of this text is editable. Simply click anywhere in the paragrap</h3>-->
    <!--<h4>All of this text is editable. Simply click anywhere in the ptent in to see what it looks</h4>-->
    <!--<div class=" bott d-flex justify-content-between"><h5>31.06.2018</h5><img src="../../../assets/svg/newsVector.svg" alt=""></div>-->
    <!--</div>-->
    <!--<div class="item col">-->
    <!--<div class="back3"></div>-->
    <!--<h3>All of this text is editable. Simply click anywhere in the paragrap</h3>-->
    <!--<h4>All of this text is editable. Simply click anywhere in the ptent in to see what it looks</h4>-->
    <!--<div class="bott d-flex justify-content-between"><h5>31.06.2018</h5><img src="../../../assets/svg/newsVector.svg" alt=""></div>-->
    <!--</div>-->
    <!--<div class="item col">-->
    <!--<div class="back4"></div>-->
    <!--<h3>All of this text is editable. Simply click anywhere in the paragrap</h3>-->
    <!--<h4>All of this text is editable. Simply click anywhere in the ptent in to see what it looks</h4>-->
    <!--<div class="bott d-flex justify-content-between"><h5>31.06.2018</h5><img src="../../../assets/svg/newsVector.svg" alt=""></div>-->
    <!--</div>-->
    <!--<div class="item col">-->
    <!--<div class="back5"></div>-->
    <!--<h3>All of this text is editable. Simply click anywhere in the paragrap</h3>-->
    <!--<h4>All of this text is editable. Simply click anywhere in the ptent in to see what it looks</h4>-->
    <!--<div class="bott d-flex justify-content-between" ><h5>31.06.2018</h5><img src="../../../assets/svg/newsVector.svg" alt=""></div>-->
    <!--</div>-->
    <!--<div class="item col">-->
    <!--<div class="back6"></div>-->
    <!--<h3>All of this text is editable. Simply click anywhere in the paragrap</h3>-->
    <!--<h4>All of this text is editable. Simply click anywhere in the ptent in to see what it looks</h4>-->
    <!--<div class="bott d-flex justify-content-between"><h5>31.06.2018</h5><img src="../../../assets/svg/newsVector.svg" alt=""></div>-->
    <!--</div>-->
    <!--</div>-->
  </div>

</div>
</div>

