<table class="table table-hover  mx-auto mt-3 text-center">
  <thead>
  <tr>
    <th scope="col">Дата бронювання</th>
    <th scope="col">Ім'я</th>
    <th scope="col">Прізвище</th>
    <th scope="col">Номер телефону</th>
    <th scope="col">Email</th>
    <th scope="col">День в'їзду</th>
    <th scope="col">День від'їзду</th>
    <th scope="col">Повідомлення</th>
    <th scope="col">К-сть дорослих</th>
    <th scope="col">К-сть дітей</th>
    <th scope="col">Статус замовлення</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let one of booking">
    <td>{{one.bookingDay | dateTimePipe}}</td>
    <td>{{one.firstName}}</td>
    <td>{{one.lastName}}</td>
    <td>{{one.phoneNumber}}</td>
    <td>{{one.email}}</td>
    <td>{{one.dateIn | datePipe}}</td>
    <td>{{one.dateOut | datePipe}}</td>
    <td>{{one.message}}</td>
    <td>{{one.adults}}</td>
    <td>{{one.kids}}</td>
    <td>{{one.orderStatus}}</td>
  </tr>
  </tbody>
</table>
<div class="butt my-3 center d-flex justify-content-center">
  <button class="btn btn-success" (click)="showMore()">Показати більше</button>
</div>
