.back{
  width: 5vw;
  height: 5vh;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label{
  border: 1px solid gray;
  padding: 5px 10px ;
  border-radius: 3px;
}

img {
  height: 5%;
}

textarea{
  width: 100%;
}

.image-one {
  -webkit-background-size: cover !important;
  background-size: cover !important;
  background-position: center !important;
  height: 30vh;
}

img {
  max-height: 5vw;
  min-height: 5vw;
}

.image-wrapper {
  width: 40%;
}

ul{
  list-style: none;
  padding: 0;
}
.amenityImage{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

button {
  margin-top: 10px;
  background: #53D7B7;
  border: 1px solid #53D7B7;
  box-sizing: border-box;
  font-family: Raleway;
  font-weight: bold;
  line-height: 24px;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  cursor: pointer;
  height: 5vh;
}
button:active{
  background: #2ebd9a;
}


textarea.ng-valid{
  border-left: 3px solid green;
}

textarea.ng-invalid{
  border-left: 3px solid red;
}
button:disabled{
  border-bottom: 3px solid red;
}
