<div>
  <form action="" [formGroup]="amenityUpdateForm">
  <ul formArrayName="amenityNames">
    <li *ngFor="let one of descriptions.controls; let i = index">
      <div formGroupName="{{i}}" >
        <span>{{one.language}}</span><br>
        <textarea formControlName="name"  rows="1"></textarea>
      </div>
    </li>
  </ul>
  <div [ngClass]="{'appear' :appear}"  class="amenityImage">
    <img [src]="image" alt="">
  </div>

  <form action="" #form class="">
      <label for="file">Змінити картинку</label>
      <input (change)="readUrl($event)" id="file" type="file" class="d-none"  name="multipartFile" >
      <button (click)="update(form)" [disabled]="!amenityUpdateForm.valid" >Оновити зручність</button>
  </form>
  </form>
</div>
