<div class="wrapper">
  <div *ngFor="let one of rooms" class="allParts d-flex justify-content-between align-items-center">
    <div class="first">
      <img src="{{one.images[0].path|imagePipe}}" alt="photo">
    </div>
    <div class="second">
      <h2>{{roomTariff[one.type]['current-language-index' | translate]}}</h2>
      <p>{{one.descriptions['current-language-index' | translate]?one.descriptions['current-language-index' |
        translate].description:''}}</p>
      <div class="imgs d-flex justify-content-start">
        <img *ngFor="let oneImage of one.amenities" src="{{oneImage.imagePath|imagePipe}}" alt="">
        <h5>{{one.square}} кв.м</h5>
      </div>
    </div>
    <div class="third d-flex flex-column justify-content-center align-items-center">
      <div>
        <h2>{{roomTariff[one.type]['current-language-index' | translate]}}</h2>
        <h3>{{one.price}} &#8372;</h3>
      </div>
      <div>
        <button [routerLink]="['/rooms-booking', one.id]">CLICK</button>
      </div>
    </div>
  </div>
  <div class="noRoomsBlock" *ngIf="!this.roomsParams">
    <p>Lol nema house eblan,sorry</p>
  </div>
</div>

