/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Raleway', sans-serif !important;
}

.article-text {
  /*display: flex;*/
  /*word-break: break-word;*/
  white-space: pre-wrap;
}

pre {
  white-space: pre-wrap !important;
}
