<div class="align-items-center col-xl-12 col-lg-12 col-md-12 col-sm-12 d-flex flex-column">
  <form action="" [formGroup]="newsUpdateForm">
  <!--<ul>-->
    <!--<li *ngFor="let one of news.newsDescriptions">-->
      <!--<div>-->
        <!--<h3>language</h3>-->
        <!--<input [(ngModel)]="one.language" type="text" disabled formControlName="title">-->
        <!--<h3>Title</h3>-->
        <!--<input type="text"  formControlName="headerText">-->
        <!--<h3>HeaderText</h3>-->
        <!--<input type="text"  formControlName="mainText">-->
        <!--<h3>mainTExt</h3>-->
        <!--<textarea name="" id="" cols="30" rows="10" formControlName="description"></textarea>-->
      <!--</div>-->
    <!--</li>-->
  <!--</ul>-->

    <div formArrayName="newsDescriptions">
      <div *ngFor="let one of descriptions.controls; let i = index">
        <form formGroupName="{{i}}">
          <h2>{{one.get('language').value|translate}}</h2>
          <h3>Title</h3>
          <input type="text"  formControlName="title">
          <h3>HeaderText</h3>
          <input type="text"  formControlName="headerText">
          <h3>mainTExt</h3>
          <textarea cols="30" rows="10" formControlName="mainText"></textarea>
        </form>
      </div>
    </div>
  <div *ngIf="img.length==0"  class="image appear">
    <!--<img [src]="news.picturePath|imagePipe" alt="">-->
    <div class="img" [style.background-image]=" 'url('+ (news.picturePath|imagePipe)+ ')'"></div>
  </div>
  <div *ngIf="img.length!=0"  class="image appear">
    <img [src]="img" alt="">
  </div>
  <br>

    <h3>SEO</h3>
    <div class="row">
      <div class="col-lg-1">
        <h5>Ключові слова (SEO):</h5>
      </div>
      <div class="col-lg-11">
        <textarea
          formControlName="keywords"
          class="w-100" style="height: 80px"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-1">
        <h5>Опис (SEO):</h5>
      </div>
      <div class="col-lg-11">
        <textarea
          formControlName="description"
          class="w-100" style="height: 80px"></textarea>
      </div>
    </div>
    <br>

    <div class="button-center">
  <form  action="" #form class="">
    <div>
      <input (change)="readUrl($event)"  id="file" type="file" class="d-none"  name="multipartFile" >
    </div>
    <br>
    <label class="image-button" for="file">AddImage</label>
    <br>
    <button class="image-button" (click)="update(form)" [disabled]="!newsUpdateForm.valid" >Оновити news</button>
  </form>
    </div>
  </form>
</div>

