.topImage {
  width: 100%;
  height: 680px;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  position: relative;
}

/deep/ .carousel-control-prev {
  height: 60px !important;
  width: 60px !important;
  background-color: #5A5A5A;
  opacity: 1 !important;
  top: 290px !important;
  left: 5% !important;
}

/deep/ .carousel-control-next {
  height: 60px !important;
  width: 60px !important;
  background-color: #5A5A5A;
  opacity: 1 !important;
  top: 290px !important;
  right: 5% !important;
}

/deep/ .carousel-indicators li {
  position: relative;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  width: 8px;
  height: 8px;
  border-radius: 50%;
   margin: 0 6px;
  background-color: rgba(255,255,255,.5);
}

/deep/ .carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0px;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

/deep/ .carousel-caption {
  top: 212px !important;
  left: 10% !important;
  width: 190px !important;
  padding: 0 !important;
}

/deep/ .carousel-caption {
  color: white;
  font-family: 'Raleway', sans-serif !important;
  font-weight: bold !important;
  font-size: 40px !important;
  text-transform: uppercase;
  line-height: 47px !important;
}
@media screen and (max-width: 765px) {

  .topImage {
    height: 500px;
  }
  /deep/ .carousel-caption{
    top: 100px !important;
  }
  /deep/ .carousel-control-prev {
    top: 190px !important;
  }

  /deep/ .carousel-control-next {
    top: 190px !important;
  }
}

