.wraper {
  position: relative;
  width: 70%;
  padding-top: 6vh;
  margin: auto;
  min-height: 79.5vh;
}

.form-container {
  position: absolute;
  width: 100%;
  justify-content: space-around;
}

.fill-form{
  font-size: 25px;
  margin: 40px 0;
  text-align: center;
}

form {
  margin-left: 10%;
  width: 30%;
}

input{
  border-radius: 4px;
  border: 1px solid lightgrey;
  outline: none;
  width: 100%;
  padding: 1px 5px;
}

.message{
  height: 100px;
  width: 100%;
  resize: none;
  border-radius: 4px;
  border: 1px solid lightgrey;
  width: 100%;
  padding: 1px 5px;
}

p {
  margin-top: 10px;
  margin-bottom: 3px;
}

button {
  margin-top: 4%;
  width: 112px;
  height: 35px;
  background: #53D7B7;
  border: 1px solid #53D7B7;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
  color: #FFFFFF;
}

button:hover {
  cursor: pointer;
  background-color: #6eddc1;
  transition: .5s;
  -webkit-box-shadow: 0px 7px 48px -14px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 0px 7px 48px -14px rgba(0, 0, 0, 0.76);
  box-shadow: 0px 7px 48px -14px rgba(0, 0, 0, 0.76);
}

.invallid {
  border: 1px solid red !important;
}

.topInfo{
  margin-top: 1%;
  margin-left: 30px;
  width: 40%;
}

.topInfo h3{
  font-size: 22px;
}

.topInfo .person{
  height: 170px;
}

.topInfo .person img{
  height: 80%;
}

.topInfo .person .humans{
  height: 170px;
  margin-top: 20px;
}

.topInfo .date{
  margin-left: 40px;
}

.topInfo .date .calendar{
  height: 55px;
  width: 55px;
  margin-right: 40px;
  /*padding-left: 45px;*/
}

.topInfo .date .calendar img{
  height: 100%;
}
input[type="radio"]{
  width: 13px;
  height: 13px;
}

@media screen and (max-width: 1100px) {
  form{
    margin-left: 0;
  }
  .topInfo{
    width: 50%;
  }
}
@media screen and (max-width: 993px) {
  .form-container{
    flex-direction: column!important;
  }
  form{
    width: 100%;
    order: 2;
  }
  .topInfo{
    width: 100%;
    order: 1;
  }
  .wraper{
    min-height: 110vh;
  }

   .fill-form{
     font-size: 28px;
     margin-top: 14%;
   }
}

@media screen and (max-width: 450px) {


  .topInfo{
    margin-left: -30px;
  }

}


