<form action="" (submit)="addRoom(form)" #form [formGroup]="roomForm">
  <h3>Тип номера:</h3>
  <select (change)="changeAmen($event.target.value)" >
    <option value="standard">standard</option>
    <option value="superior">superior</option>
    <option value="deluxe">deluxe</option>
    <option value="none" selected>none</option>
  </select>
  <h3>кількість дитячих місць:</h3>
  <input type="number" formControlName="childrenPlaces" min="1">
  <h3>кількість дорослих місць:</h3>
  <input type="number" formControlName="adultPlaces">
  <h3>Площа номера:</h3>
  <input type="number" formControlName="square">
  <h3>Кількість номерів:</h3>
  <input type="number" formControlName="amount">

  <h3>English</h3>
  <textarea cols="30" rows="10"
            formControlName="descriptionEn"></textarea>
  <h3>Ukrainian</h3>
  <textarea cols="30" rows="10"
            formControlName="descriptionUk"></textarea>
  <h3>Polish</h3>
  <textarea cols="30" rows="10"
            formControlName="descriptionPl"></textarea>
  <h3>Russian</h3>
  <textarea cols="30" rows="10"
            formControlName="descriptionRu"></textarea>
  <h3>ЗручностіЖ</h3>

  <div *ngFor="let ame of amenity" >
   <div *ngIf="isNull(ame.amenityNames)"  >
   <input  type="checkbox" value="{{ame.id}}">{{ame.amenityNames[0].name}}<br>
   </div>
  </div>
  <br>
  <div [ngClass]="{'kaka' :appear}" *ngFor="let one of image" class="image">
    <img [src]="one" alt="">

  </div>
  <br>
  <input (change)="readUrl($event)" multiple id="file" type="file" class="d-none" name="multipartFiles">
  <label (click)="toggle()" for="file">AddImage</label>

</form>
