<br>
<div>
  <input type="text" [(ngModel)]="services.name">
  <br><br>
  <ul>
    <li *ngFor="let one of services.serviceDescriptions">
      <div>
        <input [(ngModel)]="one.language" type="text" disabled>
        <h3>Заголовок</h3>
        <input type="text" [(ngModel)]="one.title">
        <h3>Заголовочний текст</h3>
        <input type="text" [(ngModel)]="one.headerText">
        <h3>Основний текст</h3>
        <textarea name="" id="" cols="30" rows="10" [(ngModel)]="one.mainText"></textarea>
      </div>
      <br>
    </li>
  </ul>

  <div [ngClass]="{'appear' :appear}"  class="image">
    <img [src]="img" alt="">
  </div>
  <br>

  <form action="" #form class="">
    <div>
      <input (change)="readUrl($event)" id="file" type="file" class="d-none"  name="multipartFile" >
    </div>

    <div>
      <label for="file">AddImage</label>
      <button (click)="update(form)" >Оновити сервіси</button>
    </div>
  </form>

</div>

