input.ng-valid{
  border-left: 3px solid green;
}
input.ng-invalid{
  border-left: 3px solid red;

}
button:disabled{
  border-bottom: 3px solid red;
}

button {
  background: #53D7B7;
  border: 1px solid #53D7B7;
  box-sizing: border-box;
  font-family: Raleway;
  font-weight: bold;
  line-height: 24px;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  width: 30%;
  height: 50px;
  margin: 2% 0 5% 0;
  cursor: pointer;
}
button:active{
  background: #2ebd9a;
}
input{
  width: 70%;
}
textarea{
  width: 70%;
}
li{
  list-style-type: none;
}
ul{
  padding: 0;
}
label{
  background: #53D7B7;
  border: 1px solid #53D7B7;
  box-sizing: border-box;
  font-family: Raleway;
  font-weight: bold;
  line-height: 24px;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  width: 30%;
  height: 50px;
  margin: 2% 0 5% 0;
  cursor: pointer;
  padding-top: 12px;
}
label:active {
  background: #2ebd9a;
}
img{
  height: 300px;
}
h3{
  font-size: 18px;
}
